<template>
	<div class="card" @mouseover="animate_back=true" @mouseleave="animate_back=false">
		<div class="card-inner">
			<div class="card-front text_center">
				<Tag class="top_tag" :color="theme" v-once>{{sub_category}}</Tag>
				<div class="img_container">
					<img v-once :src="mala_slika" :alt="getImgAlt">
				</div>
				<div class="text_container">
					<h3 v-once :class="theme">{{naziv}}</h3>
					<p v-once>
						<Icon class="icon_fit" type="ios-home"/>
						{{adresa}}
					</p>
					<p >
						<Icon class="icon_fit" type="md-contacts"/>
						<span v-once>{{getUzrast}}</span>
					</p>
				</div>
			</div>
			<div class="card-back">
				<h3 v-once class="text_center" :class="theme">{{naziv}}</h3>
				<div class="details">
					<Alert v-if="theme=='primary'"  show-icon v-bind:class="{'animated rotateInDownLeft delay-300ms': animate_back}">
						<Icon type="ios-home" slot="icon"></Icon>
                        adresa:
						<template v-once slot="desc">{{adresa}}</template>
					</Alert>
					<Alert v-else :type="theme" show-icon v-bind:class="{'animated rotateInDownLeft delay-300ms': animate_back}">
						<Icon type="ios-home" slot="icon"></Icon>
                        adresa:
						<template v-once slot="desc">{{adresa}}</template>
					</Alert>
                    <!-- *************************** -->
					<Alert v-if="theme=='primary'" show-icon v-bind:class="{'animated rotateInDownLeft delay-300ms': animate_back}">
						<Icon type="md-contacts" slot="icon"></Icon>
                        uzrast:
						<template v-once slot="desc">{{getUzrast}}</template>
					</Alert>
					<Alert v-else :type="theme" show-icon v-bind:class="{'animated rotateInDownLeft delay-300ms': animate_back}">
						<Icon type="md-contacts" slot="icon"></Icon>
                        uzrast:
						<template v-once slot="desc">{{getUzrast}}</template>
					</Alert>
                    <!-- *************************** -->
					<Alert v-if="theme=='primary'" show-icon v-bind:class="{'animated rotateInDownLeft delay-300ms': animate_back}">
						<Icon type="ios-body" slot="icon"></Icon>
                        <span v-once v-if="treneri.length == 1">trener / predavač:</span>
                        <span v-once v-else>treneri / predavači:</span>                        
						<template v-once slot="desc"><span v-for="(trener,index) in treneri" :key="index">{{trener}}</span></template>
					</Alert>
					<Alert v-else :type="theme" show-icon v-bind:class="{'animated rotateInDownLeft delay-300ms': animate_back}">
						<Icon type="ios-body" slot="icon"></Icon>
                        <span v-once v-if="treneri.length == 1">trener / predavač:</span>
                        <span v-once v-else>treneri / predavači:</span> 
						<template v-once slot="desc"><span v-for="(trener,index) in treneri" :key="index">{{trener}}</span></template>
					</Alert>
				</div>
				<router-link :to="{name:'oglasi', params:{sub_category:getCategory, oglas:getUrlTitle, prop_id:oglas_id}}">
					<Button  :type="theme" :class="getShinigClass" long>saznaj više</Button>
				</router-link>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "Card",
	data: function() {
		return {
			animate_back: false,
			oglas_id: this.data_card.id,
			naziv: this.data_card.naziv,
			naziv_url: this.data_card.naziv_url,
			sub_category: this.data_card.sub_category,
			mala_slika: this.data_card.mala_slika,
			adresa: this.data_card.adresa,
			uzrast: this.data_card.uzrast,
			treneri: this.getTreneri(),
			theme: this.prop_theme
		};
	},
	created: function() {
        //console.log(this.data_card); 
    },
	methods: {
        getTreneri(){
            var out_string = "";            
            var niz = JSON.parse(this.data_card.treneri);
            niz.forEach(element => {
                out_string += element.ime+", ";
            });
            return out_string.slice(0, -2); //brisemo ", " na kraju stringa
        }
    },
	computed: {
        getShinigClass(){
            if (this.theme == "primary") {
                return 'shining_text_primary';
            } 
            else if (this.theme == "success") {
                return 'shining_text_success';                
            }
            else{
                return 'shining_text_error';                
            }
        },
        getImgAlt(){
            var first = this.mala_slika.lastIndexOf('/');
            var last = this.mala_slika.lastIndexOf('.');
            return this.mala_slika.substring(first + 1, last);
        },
        getUzrast(){
            return this.uzrast.replace(/-21/g, ' i više');
        },
		getUrlTitle() {
            //console.log('this.naziv_url '+this.naziv_url);        
			return this.naziv_url;
		},
		getCategory() {            
			return this.sub_category.replace(/ /g, '-');
		},
	},
	props: {
		data_card: Object,
		prop_theme: String
	}
};

/* var items = document.getElementsByClassName("text_start");
Array.from(items).forEach(function(element) {
	element.addEventListener("mouseover", animate_back_func, false);
});
function animate_back_func(params) {} */
</script>

<style scoped>
.ivu-alert-with-icon {
	padding: 8px 8px 8px 35px !important;
}
.animated.delay-300ms {
	animation-delay: 0.15s;
}
.animated.delay-500ms {
	animation-delay: 0.25s;
}
.animated.delay-700ms {
	animation-delay: 0.35s;
}
.text_info {
	font-size: 1.5vw;
}
.top_tag {
	position: absolute;
	top: 0;
	left: 0px;
	margin: 0;
    z-index: 1;
}
.details p {
	margin-top: 5px;
	text-align: start;
	/* font-weight: bold; */
	font-size: 1.5vw;
}
.card-back {
	padding: 10px;
}
.card {
	font-size: 150%;
	margin: 10px;
	max-width: 250px;
	min-width: 200px;
	height: 300px;
	perspective: 1000px;
}
.card button {
	letter-spacing: 5px;
	font-weight: bold;
	font-size: 120%;
	font-style: italic;
    text-decoration: underline;/*ne radi*/
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shining_text 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes shining_text {
  0% {background-position: -500%;}
  100% {background-position: 500%;}
}
.text_container{
	margin: 5px;
}
.text_container *{
	white-space: nowrap!important;
	text-overflow: ellipsis!important;
	overflow: hidden!important;
}
.text_container h3 {
	/* text-shadow: 3px 3px 4px darkgrey; */
	/* color: whitesmoke; */
	background-color: rgba(0, 0, 0, 0.75);
	position: relative;
	margin-top: -30px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
}
.card-back button {
	position: absolute;
	bottom: 0;
	left: 0;
	border: none;
}
.img_container {
	width: 100%;
	height: 70%;
	overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.img_container img {
	/* border-radius: 15px; */
	max-width: 100%;
	max-height: 100%;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.card-inner {
	position: relative;
	width: 100%;
	height: 100%;

	transition: transform 0.3s ease-in-out;
	transform-style: preserve-3d;
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}
.text_center {
	text-align: center;
}
.card:hover .card-inner {
	transition: transform 0.6s ease-in-out;
	transform: rotateY(180deg);
}

.card-front,
.card-back {
	border-radius: 5px;
	box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.3);
	background-color: whitesmoke;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateX(
		0deg
	); /*fix for mozila - backface-visibility not working*/
}
.card-front {
	color: black;
	/* z-index: 2; */
}
.card-back {
	color: black;
	transform: rotateY(180deg);
	/* z-index: 1; */
}
.card-back h3{
	white-space: nowrap!important;
	text-overflow: ellipsis!important;
	overflow: hidden!important;
}
.icon_fit {
	margin-top: -3px;
	margin-right: 5px;
}
.error {
	color: #ed4014 !important;
}
.success {
	color: #03924a !important;
}
.primary {
	color: #2d8cf0 !important;
}
.shining_text_error{
    background: linear-gradient(90deg, #ed4014, #fff, #ed4014);
}
.shining_text_success{
    background: linear-gradient(90deg, #03924a, #fff, #03924a);
}
.shining_text_primary{
    background: linear-gradient(90deg, #2d8cf0, #fff, #2d8cf0);
}
@media screen and (max-width: 700px) {
	.card {
		width: 90%;
	}
}
@media screen and (min-width: 700px) {
	.card {
		width: 45%;
	}
}
@media screen and (min-width: 900px) {
	.card {
		width: 30%;
	}
}
@media screen and (min-width: 1050px) {
	.card {
		width: 23%;
	}
}
</style>
