<template>
	<div class="container">
        <div class="flex_center">
            <Button class="animated rubberBand delay-4s" type="default" @click="filter_switch.root=!filter_switch.root" ghost icon="md-options" size="large">filtriraj listu</Button>
		</div>
		<transition
            name="slide"
            enter-active-class="animated zoomInDown"
            leave-active-class="animated zoomOutLeft"
        >
        <div v-show="filter_switch.root">
		<div  class="filter_container">
			<div class="filter_data">
				<i-switch v-model="filter_switch.locations">
					<Icon type="md-checkmark" slot="open"></Icon>
					<Icon type="md-close" slot="close"></Icon>
				</i-switch>
				<br>
                <Select
                    v-bind:class="{'opacity05': !filter_switch.locations}"
                    :disabled="!filter_switch.locations"
                    v-model="selected_locations"
                    multiple
                    style="width:auto;"
                    key="aaa"
                >
                    <Option v-for="loc in locations" :value="loc" :key="loc">{{ loc }}</Option>
                </Select>
			</div>
			<div class="filter_data">
				<i-switch v-model="filter_switch.days">
					<Icon type="md-checkmark" slot="open"></Icon>
					<Icon type="md-close" slot="close"></Icon>
				</i-switch>
				<br>
				<Select
					v-bind:class="{'opacity05': !filter_switch.days}"
					:disabled="!filter_switch.days"
					v-model="selected_days"
					multiple
					style="width:auto;"
				>
					<Option v-for="day in days" :value="day" :key="day">{{ day }}</Option>
				</Select>
			</div>
			<div class="filter_data">
				<i-switch v-model="filter_switch.time">
					<Icon type="md-checkmark" slot="open"></Icon>
					<Icon type="md-close" slot="close"></Icon>
				</i-switch>
				<transition name="fade">
					<span v-show="filter_switch.time">&nbsp;{{time[0]}}-{{time[1]}}h</span>
				</transition>
				<br>
				<Slider
					v-bind:class="{'opacity05': !filter_switch.time}"
					:disabled="!filter_switch.time"
					v-model="time"
					:step="1"
					:min="0"
					:max="24"
					show-stops
					range
					style="width:50%; min-width:200px;"
				></Slider>
			</div>
			<div class="filter_data">
				<i-switch v-model="filter_switch.gender">
					<Icon type="md-checkmark" slot="open"></Icon>
					<Icon type="md-close" slot="close"></Icon>
				</i-switch>
				<br>
				<Select
					v-bind:class="{'opacity05': !filter_switch.gender}"
					:disabled="!filter_switch.gender"
					v-model="selected_gender"
					style="width:80px"
				>
					<Option v-for="item in gender" :value="item" :key="item">{{ item }}</Option>
				</Select>
			</div>
			<div class="filter_data">
				<i-switch v-model="filter_switch.age">
					<Icon type="md-checkmark" slot="open"></Icon>
					<Icon type="md-close" slot="close"></Icon>
				</i-switch>
				<br>
				<Select
					v-bind:class="{'opacity05': !filter_switch.age}"
					:disabled="!filter_switch.age"
					v-model="selected_age"
					style="width:100px"
				>
					<Option v-for="item in age" :value="item" :key="item">{{ item }}</Option>
				</Select>
			</div>
		</div>
        <Divider orientation="center">filtrirana lista</Divider>
        </div>
        </transition>
        
        
        
	</div>
</template>

<script>
export default {
	name: "Filters",
	data: function() {
		return {
			filter_switch: {
				root: false,
				days: false,
				locations: false,
				time: false,
				gender: false,
				age: false
			},
			days: [
				/* "rad.dani","vikend", */ "pon",
				"uto",
				"sre",
				"čet",
				"pet",
				"sub",
				"ned"
			],
			locations: ["grad", "Ribnica", "Čibukovac"],
			time: [8, 22],
			gender: ["muški", "ženski"],
			age: ["do 7 god", "7-10", "10-14", "14-18", "odrasli"],

			selected_days: ["pon", "uto", "sre", "čet", "pet", "sub", "ned"],
			selected_locations: ["grad", "Ribnica", "Čibukovac"],
			selected_gender: "muški",
			selected_age: "odrasli"
		};
	},
	computed: {},
	props: {}
};
</script>

<style scoped>

.opacity05 {
	opacity: 0.5;
}
.filter_container {
	display: flex;
	justify-content: space-around;
}
.container {
	/*border: 1px solid black;*/
	margin: 0;
	font-size: 2em;
}
.flex_center{
    display: flex;
    justify-content: center;
}
.flex_center button{
    animation-iteration-count: 3;
}
.filter_data {
	text-align: center;
	padding: 5px;
}
</style>
