<template>
	<footer>
        <p class="text_container">
            <span>
                <a href="mailto:kontakt@pokrenise.rs"><i class="far fa-envelope"></i> kontakt@pokrenise.rs</a>
            </span>
            <span>
                © Copyright <span>{{getYear()}}</span> by 
                <span @click="modal = true" id="footertext" class="animated fadeInDownBig">
                    WebCodeAndHost
                </span>
            </span>
        </p>
        <Modal fullscreen class="myBackground devTeamModal" v-model="modal" width="90%" :closable="true">
            <p slot="header" style="font-size:18px;color:whitesmoke;text-align:center">
                <Icon style="font-size:24px;" type="ios-people"></Icon>
                WebCodeAndHost
                <Icon style="font-size:24px;" type="ios-people"></Icon>
            </p>
            <div id="modal_main">
                <div class="container_card">
                <aside class="profile-card n1">
                    <header>
                        <!-- <a href="https://tutsplus.com">
                            <img src="../assets/nikola.jpg">
                        </a> -->
                        <img src="../assets/nikola.jpg">
                        <h1>Nikola Pavlović</h1>
                        <h2>- Android and Web Developer -</h2>
                    </header>
                    <div class="profile-bio">
                        <p>Pozdrav!</p>
                        <p>Bavim se programiranjem android i web aplikacija koristeći PHP, HTML, CSS, JavaScript i Java programske jezike.
                           <br> Takođe, primenjujem jQuery, Vue.js, MySql i slične alate prema potrebama projekata.</p>
                    </div>
                    <ul class="profile-social-links">
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=nsp.mpu.demo" target="_blank">
                                <img src="../assets/iconfinder_android.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://mpu.azurewebsites.net/" target="_blank">
                                <img src="../assets/iconfinder_www.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCktagbxi4weC7ThBtLDY6cA/videos" target="_blank">
                                <img src="../assets/iconfinder_youtube.svg">
                            </a>
                        </li>
                        <li>
                            <a href="mailto:nikola.webcodeandhost@gmail.com" target="_blank">
                                <img src="../assets/iconfinder_mail.svg">
                            </a>
                        </li>
                    </ul>
                </aside>
                </div>
                <div class="container_card">
                <aside class="profile-card n2">
                    <header>
                        <!-- <a href="https://tutsplus.com">
                            <img src="../assets/nikola.jpg">
                        </a> -->
                        <img src="../assets/stevan.jpg">
                        <h1>Stevan Nikolić</h1>
                        <h2>- Android and Web Developer -</h2>
                    </header>
                    <div class="profile-bio">
                        <p>I am here!</p>
                        <p>I am frontend developer, using a bunch of JS frameworks - Angular, React, Vue...
                            <br />The man with ideas just coming on...</p>
                    </div>
                    <ul class="profile-social-links">
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-twitter.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://envato.com" target="_blank">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-envato.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://codepen.io/" target="_blank">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-codepen.svg">
                            </a>
                        </li>
                    </ul>
                </aside>
                </div>
            </div>
            <div slot="footer">
                <Button type="dashed"  long @click="modal=false">OK</Button>
            </div>
        </Modal>
	</footer>
</template>

<script>
/* import "../devteam_card.css"; */
export default {
    name: "Footer",
    data: function() {
		return {
			modal: false
		};
	},
	computed: {},
	props: {},
	methods: {
		getYear() {
			return new Date().getFullYear();
		},
		whichAnimationEvent() {
			var el = document.createElement("fakeelement");
			var animations = {
				animation: "animationend",
				OAnimation: "oAnimationEnd",
				MozAnimation   : "animationend",
				WebkitAnimation: "webkitAnimationEnd"
			};
			var i;
			for (i in animations) {
				if (el.style[i] !== undefined) {
					//console.log(animations[i]);
					return animations[i];
				}
			}
		}
	},
	mounted: function() {
        //console.log('FOOTER mounted');  
        const elem = document.getElementById("footertext");
        const event_name = this.whichAnimationEvent();
        elem.addEventListener(event_name,function(){
            elem.classList.remove("fadeInDownBig");
            elem.classList.add("slower","flash","infinit");
        });      
	}
};
</script>

<style scoped>
footer {
	/* z-index: 0;
	clear: both;
	height: 25px;
	vertical-align: middle;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0; */
    margin-top: 50px;
    color: whitesmoke;
}

#footertext{
    display:inline-block;
    text-decoration: underline;
}
#footertext:hover{
    cursor: pointer;
}
#modal_main{
    display: flex;
    justify-content: space-around;    
    flex-wrap: wrap;
}
.container_card{
    width: 350px;
    display: flex;
    justify-content: center; 
}
.infinit{
    /* definisem stil preko klase jer ce Vue da stil prilagodi za webkit,o,moz... */
    animation-iteration-count: infinite;
}


/* go on then, styles go here.. knock yourself out! */

/* @import url(https://fonts.googleapis.com/css?family=Roboto); */
.profile-card {
    box-sizing: border-box;
    font-family: Roboto, Helvetica, Arial, serif;
}

header img {
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    width: 200px;
    border: 5px solid #fff;
}

aside {
    float: left;
    border-top: 0px solid #26A69A;
    border-bottom: 0px solid #00695C;
    border-radius: 50%;
    margin: 5px;
    display: block;
    height: 250px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 0 100px 10px #fff;
    transition: all ease 0.3s;
}
aside.n2{
    background: url("../assets/dev_team_bg_2_1.jpg");
}
aside.n1{
    background: url("../assets/dev_team_bg_1.jpg");
}

aside:hover {
    border-top: 4px solid steelblue;
    border-bottom: 4px solid midnightblue;
    border-radius: 5px;
    height: 480px;
    width: 350px;
    box-shadow: 0 0 70px 10px #fff;
}

aside:hover header img {
    animation: profile_image 2000ms linear both;
    animation-delay: 0.5s;
}

header {
    text-align: center;
    margin-top: 25px !important;
}

header h1 {
    position: relative;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    padding: 5px;
    transition: all ease 0.250s;
    /* border-top: 1px solid #fff;
    border-bottom: 1px solid #fff; */
}

aside:hover header h1 {
    margin-top: 0px;
    outline: 0 solid #fff;
    /* border-top: 0px solid #fff; */
    border-bottom: 1px solid #fff;
}

header h2 {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 17px;
    font-weight: normal;
    /* line-height: 0px; */
    margin-top: 5px;
}

.profile-bio {
    margin-top: 20px;
    padding: 1px 20px 10px 20px !important;
    transition: all linear 1.5s;
    color: #fff;
    font-size: 14px;
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 49%, rgba(0, 0, 0, 0.61) 100%);
}

aside:hover .profile-bio {
    opacity: 1;
}


.profile-bio p{
    text-align: center;
}

.profile-bio p:first-child {
    font-size: 16px;
}

.profile-bio p:nth-child(2){
    height: 310px;
}

.profile-social-links {
    position: relative;
    margin-top: -640px;
    /* margin-left: -100px; */
    list-style-type: none;
    opacity: 0;
    transition: all ease 0.5s;
}

aside:hover .profile-social-links {
    margin-left: 15px;
    opacity: 1;
}

.profile-social-links li img {
    width: 40px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
}


/*PROFILE IMAGE ANIMATE */



/*NAME ANIMATE */

aside:hover header h1 {
    animation: name_and_job 1500ms linear both;
    animation-delay: 0.4s;
}

aside:hover ul li{
    animation: social_animation 2000ms ease-in-out both;
}

aside:hover ul li:first-child {
    animation-delay: 0.75s;
}

aside:hover ul li:nth-child(2) {
    animation-delay: 1s;
}

aside:hover ul li:nth-child(3) {
    animation-delay: 1.25s;
}

aside:hover ul li:nth-child(4) {
    animation-delay: 1.5s;
}

@keyframes social_animation {
    0% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);}
    1.3% {transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1);}
    2.55% {transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1);}
    4.1% {transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);}
    5.71% {transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1);}
    8.11% {transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);}
    8.81% {transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1);}
    11.96% {transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1);}
    12.11% {transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);}
    15.07% {transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1);}
    16.12% {transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);}
    27.23% {transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);}
    27.58% {transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);}
    38.34% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);}
    40.09% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);}
    50% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1);}
    60.56% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);}
    82.78% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    100% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
}
@keyframes name_and_job {
    0% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);}
    1.3% {transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1);}
    2.55% {transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1);}
    4.1% {transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);}
    5.71% {transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1);}
    8.11% {transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);}
    8.81% {transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1);}
    11.96% {transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1);}
    12.11% {transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);}
    15.07% {transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1);}
    16.12% {transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);}
    27.23% {transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);}
    27.58% {transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);}
    38.34% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);}
    40.09% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);}
    50% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1);}
    60.56% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);}
    82.78% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    100% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
}
@keyframes profile_image {
    0% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    3.4% {transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    4.7% {transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    6.81% {transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    9.41% {transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    10.21% {transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    13.61% {transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    14.11% {transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    17.52% {transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    18.72% {transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    21.32% {transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    24.32% {transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    25.23% {transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    29.03% {transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    29.93% {transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    35.54% {transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    36.74% {transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    41.04% {transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    44.44% {transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    52.15% {transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    59.86% {transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    63.26% {transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    75.28% {transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    85.49% {transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    90.69% {transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    100% {transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
}
@media screen and (max-width: 700px) {
    @keyframes social_animation {
        0% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);}
        5.71% {transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1);}
        16.12% {transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);}
        27.58% {transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);}
        40.09% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);}
        60.56% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);}
        82.78% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
        100% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    }
    @keyframes name_and_job {
        0% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);}
        /*5.71% {transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1);}
        16.12% {transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);}
        27.23% {transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);}
        */40.09% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);}
        /*60.56% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);}
        */82.78% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
        100% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    }
    @keyframes profile_image {
        0% {transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
        6.81% {transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
        17.52% {transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
        25.23% {transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
        41.04% {transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
        59.86% {transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
        75.28% {transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
        85.49% {transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
        100% {transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
    } 
}

.text_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.text_container *{
    color: unset;    
	font-size: 14px;
	font-weight: bold;
}
.text_container > span{
    margin-bottom: 7px;
}
</style>
