<template>
	<header>
		<div class="first_line">
            <div class="container_logo">
				<Tooltip
                    class="tooltip"
					content="home page"
					theme="light"
					:delay="500"
				>
                    <img				
                        class="animated zoomInDown delay-1s slow"
                        src="../assets/logo i tekst.png"
                        alt="pokrenise logo"
                        @click="logoNavigate"
                    >
                </Tooltip>
            </div>            
            <button  @click="hamburgerClicked" :class="{'is-active': hamburger_opened, 'disp_none':!display_hamb}" class="hamburger hamburger--spin" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
			
			<div class="img_container">
				<Tooltip
					v-for="image in img_data"
					v-bind:content="image.tooltip"
					theme="light"
					:delay="300"
					v-bind:key="image.id"
				>
					<img @click="clickHeaderImg($event)" class="img_roll" :src="image.src" :alt="image.alt">
				</Tooltip>
			</div>
		</div>
		<hr>
		<h1
			class="second_row"
		>Sport, rekreacija, učenje jezika, obuke, kursevi...ko, gde, kada - sve informacije na jednom mestu</h1>
	</header>
</template>

<script>
import "../hamburger.css";

export default {
	name: "Header",
	data: function() {
		return {
            img_data: [],
            hamburger_opened: this.hamburger_opened_prop,
            display_hamb: this.display_hamb_prop,
		};
	},
	created: function() {
        this.img_data = getImgData();
        window.addEventListener("resize", this.resizeHandler);
	},
	props: {
        display_hamb_prop: Boolean,
        hamburger_opened_prop: Boolean,
    },
    watch:{
        hamburger_opened_prop(newVal, oldVal){
            this.hamburger_opened = this.hamburger_opened_prop;  
            //console.log("hamburger_opened: "+this.hamburger_opened);           
        }
    },
	methods: {
        logoNavigate(){
            this.$router.push({ path: '/' });
        },
		clickHeaderImg: function(event) {
			//console.log(event.target);
			this.$emit("clickedOnHeaderImg", event.target.dataset.id);
        },
        hamburgerClicked(){
            this.hamburger_opened = !this.hamburger_opened;
            this.$emit("hamburgerClick", this.hamburger_opened);        
        },
        resizeHandler(){
            if (window.innerWidth<=700) {
                //console.log("header resized to "+window.innerWidth);
                this.display_hamb = true;
            }     
            else{                
                this.display_hamb = false;
            }       
        }
	},
	mounted: function() {
		var imgs = document.querySelectorAll(".first_line .img_container img");

		for (var i = 0, max = imgs.length; i < max; i++) {
			imgs[i].dataset.id = i;
			imgs[i].addEventListener("mouseover", imgClick, false);
        }
                
	}
};

function imgClick(ev) {
	ev.target.classList.remove("img_roll");
	ev.target.classList.add("animated", "tada", "delay-0s");
	setTimeout(() => {
		ev.target.classList.remove("tada");
	}, 1000);
}

function getImgData(ids) {
	var img_data = [
		{
			tooltip: "treniraj telo",
			id: 0,
			src: require("../assets/basketball.png"),
			alt: "sport header icon"
		},
		{
			tooltip: "pokreni duh",
			id: 1,
			src: require("../assets/tango.png"),
			alt: "art header icon"
		},
		{
			tooltip: "progovori",
			id: 2,
			src: require("../assets/english.png"),
			alt: "languages header icon"
		},
		{
			tooltip: "uči da ne bi radio",
			id: 3,
			src: require("../assets/books.png"),
			alt: "study header icon"
		},
		{
			tooltip: "unovči veštine",
			id: 4,
			src: require("../assets/programming.png"),
			alt: "courses header icon"
		}
	];
	return img_data;
}
</script>



<style scoped>
header {
	/* z-index: 99; */
	color: aliceblue;
}
.disp_none{
    display: none;
}
.first_line {
	height: 50px;
	display: flex;
	align-items: center;
}
.second_row {
	text-align: center;
	font-size: 1.7vw;
}
.img_container {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.img_container img {
	height: 40px;
}
.img_container img:hover {
	cursor: pointer;
}
.container_logo{
    height: 50px;
}
.container_logo img{
    height: 50px;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}
.img_roll {
	/* margin-left: 20px; */
	animation-name: rolling;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	/* animation-delay:2s; */
	animation-fill-mode: backwards;
	animation-direction: alternate;
}
.delay-0s {
	-webkit-animation-delay: 0s !important;
	animation-delay: 0s !important;
}
/* .img_container img:hover {
	transform: scale(1.2);
} */
img[data-id="0"] {
	animation-delay: 2s;
}
img[data-id="1"] {
	animation-delay: 2.5s;
}
img[data-id="2"] {
	animation-delay: 3s;
}
img[data-id="3"] {
	animation-delay: 3.5s;
}
img[data-id="4"] {
	animation-delay: 4s;
}
@keyframes rolling {
	0% {
		transform: translateX(-1400px) rotate(0turn);
	}
	/* 20% {transform: translateX(300px) rotate(.5turn);}
        40% {transform: translateX(0) rotate(-.2turn);} */
	70% {
		transform: translateX(300px) rotate(2.5turn);
	}
	100% {
		transform: translateX(0) rotate(-1turn);
	}
}

@media screen and (max-width: 820px) {
	.img_container {
		display: none;
	}
	.first_line {
		display: flex;
		justify-content: center;
    }  
}
@media screen and (max-width: 700px) {
    .second_row {
        font-size: 1em;
    }
}
</style>
