<template>
	<div class="root fixedclass" v-if="is_data_ready">
        <vue-headful
            :title="meta_title"
            :description="meta_desc"
        	:keywords="meta_keys"
        />
        <div class="heders">
			<h3>
				<span v-once>{{oglas.grad}} - {{oglas.deo_grada}}</span>
			</h3>
			<h1>
				<span v-once>{{oglas.naziv}}</span>
			</h1>
			<h2>
				<span v-once>{{oglas.sub_category}}</span>
			</h2>
		</div>
		<Row>
			<Col :xs="24" :sm="16">
				<timeline>
					<timeline-item color="red" class="timeline_item">
						<Icon type="md-clock" slot="dot"/>
						<h3>Termini</h3>
						<div class="container_grupe">
							<div class="single_grupa" v-for="(grupa, indexG) in grupe" :key="indexG">
								<section>
                                    pol:
									<Tag v-once v-for="(pol, indexP) in grupa.pol" :key="indexP" :color="polColor(pol)">{{pol}}</Tag>
									<br>
                                    uzrast:
									<Tag
										v-once	type="border" color="success" > {{getUzrast(indexG)}} </Tag>
								</section>
								<ul>
									<li v-once v-for="(pomocna_var, indexT) in grupa.days" :key="indexT">
										<span v-once class="day">{{getDay(grupa.days[indexT])}}:</span>
										<span v-once class="hour">{{getShortTime(grupa.start[indexT])}}&nbsp;&ndash;&nbsp;{{getShortTime(grupa.end[indexT])}}</span>
									</li>
								</ul>
							</div>
						</div>
					</timeline-item>
					<timeline-item color="green" class="timeline_item">
						<Icon type="ios-contacts" slot="dot"/>
						<h3>Treneri / predavači / instruktori</h3>
						<div class="container_persons">
							<div class="single_person" v-once v-for="(trener, index) in getTreneri" :key="index">
								<h4>
									<Avatar size="small" style="background-color: #87d068" icon="md-person"></Avatar>
									{{trener.ime}}
								</h4>
								<p style="margin-top:5px">
									<Avatar size="small" shape="circle" style="background-color: #87d068" icon="ios-call" />
									{{trener.telefon}}
								</p>
							</div>
						</div>
					</timeline-item>
					<timeline-item color="gold" class="timeline_item">
						<Icon type="logo-euro" slot="dot"/>
						<h3>cena</h3>
						<div class="container_cena">
							<div class="single_cena" v-once v-if="oglas.cene">{{oglas.cene}}</div>
						</div>
					</timeline-item>
					<timeline-item color="blue" class="timeline_item">
						<Icon type="ios-link" slot="dot"/>
						<h3>online kontakt</h3>
                        <div class="container_kontakt">
                            <Tooltip content="facebook" placement="bottom-start">
                            <a v-once v-if="getSocialLinks('f')"  :href="getSocialLinks('f')" target="_blank">
                            <Button class="media_button" style="background-color:#3b5999;" icon="logo-facebook"></Button></a>
                            </Tooltip>

                            <Tooltip content="twitter" placement="bottom-start">
                            <a v-once v-if="getSocialLinks('t')"  :href="getSocialLinks('t')" target="_blank"> 
                            <Button  class="media_button" type="primary" icon="logo-twitter"></Button></a>
                            </Tooltip>

                            <Tooltip content="instagram" placement="bottom-start">
                            <a v-once v-if="getSocialLinks('i')"  :href="getSocialLinks('i')" target="_blank"> 
                            <Button class="media_button" style="background-color:#e4405f;" icon="logo-instagram"></Button></a>
                            </Tooltip>

                            <Tooltip content="youtube" placement="bottom-start">
                            <a v-once v-if="getSocialLinks('y')"  :href="getSocialLinks('y')" target="_blank"> 
                            <Button class="media_button" type="error" icon="logo-youtube"></Button></a>
                            </Tooltip>

                            <Tooltip content="web site" placement="bottom-start">
                            <a v-once v-if="getSocialLinks('w')" :href="getSocialLinks('w')" target="_blank">
                            <Button class="media_button" icon="md-globe" ghost></Button></a>
                            </Tooltip>

                            <Tooltip content="e-mail" placement="bottom-start">
                            <a v-once v-if="getSocialLinks('e')"  :href="getSocialLinks('e')" target="_blank"> <Button class="media_button" icon="md-mail" ghost></Button></a>
                            </Tooltip>
                        </div>						
					</timeline-item>
                    <timeline-item color="white" class="timeline_item">		
                        <Icon type="ios-locate-outline" slot="dot"/>
						<h3 style="display:inline-block;">adresa:</h3><address style="display:inline-block; font-size:14px" v-once v-if="oglas.adresa">&nbsp;{{oglas.adresa}}</address>
                    </timeline-item>
				</timeline>
			</Col>
			<Col :xs="24" :sm="8" class="side_container">
                <div v-if="getMalaSlika()">
				<h3>Slike</h3>
				<lightbox v-once class="light_box" :thumbnail="getMalaSlika()" :images="getSlike()">
					<lightbox-default-loader slot="loader"></lightbox-default-loader>
                    <div slot="content" slot-scope="{ url: { link, alt } }">
                        <img :src="link" :alt="alt">
                    </div>
				</lightbox>
                </div>

                <div v-if="oglas.video">
				<h3>Video</h3>
				<iframe                    
                    v-once
                    allowFullScreen 
					width="100%"
					:src="getVideo"
				></iframe>
                </div>

                <div v-if="getGmapLink">
				<h3>Lokacija</h3>
				<iframe
                    v-once
					width="100%"
					height="200px"
					id="gmap_canvas"
					:src="getGmapLink"
					frameborder="0"
					scrolling="no"
					marginheight="0"
					marginwidth="0"
				></iframe>
                </div>
			</Col>
		</Row>
        <Button id="backButton" @click="goBack" size="large" type="dashed" icon="md-return-left" ghost long>vrati se nazad</Button>
        <Footer></Footer>
	</div>
</template>

<script>
import Footer from "../components/Footer.vue";
export default {
	name: "ItemDetails",
    components: {Footer},
	data: function() {
		return {
			id: this.prop_id,
			grupe: [],
            oglas:{},
            is_data_ready: false,            
            meta_title:"",
            meta_desc:"",
            meta_keys:"",
		};
	},
	computed: {
        getAdresa(){
            if (this.oglas.adresa.indexOf(this.oglas.grad) == -1) 
                return this.oglas.adresa+" "+this.oglas.grad;            
            else
                return this.oglas.adresa; 
        },
        getTreneri(){
            //return this.getJsonParse(this.oglas.treneri);
            return this.oglas.treneri;
        },
        getGmapLink(){
            var link;
            const api = 'AIzaSyDsKQ33skTTMdQkICqahwoWdj0uIB4PAHY';
            var query;
			if (this.oglas.koordinate) {
                query = this.oglas.koordinate;
            } 
            else if (this.getAdresa){                
                query = encodeURIComponent(this.getAdresa);
            }
            else{
                //console.log("item false");
                return false;
            }

            link =
                "https://maps.google.com/maps"
                +"?key="+api
                +"&z=16"
                +"&ie=UTF8"
                +"&hl=sr"
                +"&output=embed"
                +"&maptype=satellite"
                +"&q="+query;
	        //console.log("item "+link);
			return link;         
        },
        getVideo(){
            // funkcija nece  da radi kad je stavim u methods
            var videoId = this.getYoutubeId(this.oglas.video);
            //console.log('videoId '+videoId);
            if(videoId && videoId.length==11){
                return "//www.youtube.com/embed/"+ videoId;
            }
            else if(videoId && videoId.length>11){
                return "//www.youtube.com/embed/?listType=playlist&list="+ videoId;
            }
            else return false;
        },
    },
	props: {
		prop_id: Number,
		prop_grupe: Array,
		prop_oglas: Object
	},
	methods: {
        getPadezZaGrad(out){
            switch (out) {
                case "Kraljevo":
                case "kraljevo":
                    return "Kraljevu";
                case "Beograd": 
                case "beograd": 
                    return "Beogradu";            
                default: return out;
            }
        },
        getPadezZaSport(out){
            if (out.split("").pop() == 'a') { //odbojka
                return out.slice(0, -1) + "u"; //odbojku
            } else {
                return out;
            }
        },
        getPadezZaNastavu(out){
            if (out.split("").pop() == 'a') { //matematika
                return out.slice(0, -1) + "e"; //matematike
            } else if (out.split("").pop() == 'i') { //srpski
                return out.slice(0, -1) + "og"; //srpskog
            } else {
                return out;
            }
        },
        setMetaTags(){

            var meta_cat,meta_sub_cat,meta_grad,meta_deograda;
            try {meta_cat = this.oglas.category;}
            catch (error) {meta_cat ="";}

            try {meta_sub_cat = this.oglas.sub_category;}
            catch (error) {meta_sub_cat ="";}

            try {meta_grad = this.oglas.grad;}
            catch (error) {meta_grad ="";}

            try {meta_deograda =this.oglas.deo_grada;}
            catch (error) {meta_grad ="";}

            var title = this.$meta_common_title+" - "+this.oglas.naziv+" - "+meta_grad+" - ";
            var desc;
            var keys = this.$meta_common_keys;
            keys+=meta_sub_cat+","+meta_grad+","+meta_deograda+",";
            
            try {
                this.getTreneri.forEach(element => {
                    keys+=element.ime+",";
                });
            } catch (error) {}
                                
            var temp;

            switch (meta_cat.toLowerCase()) {
                case 'sport':
                    title += meta_sub_cat + " - sve informacije o treninzima";
                    temp=this.getTreneri[0].ime;
                    desc =  "Želiš da treniraš "+this.getPadezZaSport(meta_sub_cat)+" u "+this.oglas.naziv+" u "+this.getPadezZaGrad(meta_grad)+", trener "+temp+" - pokrenise web sajt ima sve informacije koje su ti potrebne - termini, lokacije, cene...";
                    keys+="gde da treniram "+meta_sub_cat+",";
                    keys+="klub,klubovi,trener,treneri";                    
                    break;
                case 'umetnost':   
                    title += meta_sub_cat + " - sve informacije o terminima";  
                    temp =   meta_sub_cat == "KUD" ? "kulturno umetničko duštvo"  : meta_sub_cat;           
                    desc =  "Zanima te "+temp+" "+this.oglas.naziv+" u "+this.getPadezZaGrad(meta_grad)+", trener "+this.getTreneri[0].ime+" - za koji uzrast, kada i cene - sve potrebne informacije možeš pronaći na pokrenise web sajtu...";
                    keys+="gde da naučim "+meta_sub_cat+","+temp+",";
                    keys+="klub,klubovi,predavači";
                    break;
                case 'strani jezici':
                    title += "saznaj ko, gde, kada drži časove "; 
                    temp = meta_sub_cat.slice(0, -1)+"og jezika";     
                    title += temp; 
                    desc =  this.oglas.naziv+" - škola "+temp+" u "+this.getPadezZaGrad(meta_grad)+", profesor "+this.getTreneri[0].ime+" - na sajtu pokrenise.rs imaš sve potrebne informacije - lokacija, termini, cene...";
                    keys+="gde da naučim "+meta_sub_cat+",";
                    keys+="kurs "+meta_sub_cat+" jezika u "+this.getPadezZaGrad(meta_grad)+",";
                    keys+="predavači";
                    break;
                case 'dodatna nastava':
                    title += meta_sub_cat + " - saznaj ko, gde, kada daje časove";
                    desc =  this.oglas.naziv+" - časovi iz "+this.getPadezZaNastavu(meta_sub_cat)+" u "+this.getPadezZaGrad(meta_grad)+", profesor  "+this.getTreneri[0].ime+" - pokrenise.rs ima sve informacije...";
                    keys+="dodatni časovi iz "+this.getPadezZaNastavu(meta_sub_cat)+" u "+this.getPadezZaGrad(meta_grad)+",";
                    keys+="predavači";                    
                    break;
                case 'obuke i kursevi':
                    title += meta_sub_cat + " - sve informacije o obukama";
                    desc =  this.oglas.naziv+" nauči "+meta_sub_cat+" u "+this.getPadezZaGrad(meta_grad)+", profesor  "+this.getTreneri[0].ime+" - na sajtu pokrenise.rs imaš sve potrebne informacije - gde se održava obuka, kada, za koji uzrast, cene...";
                    keys+="obuka za "+meta_sub_cat+" u "+this.getPadezZaGrad(meta_grad)+",";
                    keys+="predavači";                    
                    break;            
                default:
                    title += "sve informacije na jednom mestu";
                    desc = this.$meta_common_desc;
                    break;
            }

           /*  console.log('title -------- '+title);
            console.log('desc -------- '+desc);
            console.log('keys -------- '+keys);   */          

            this.meta_title = title;
            this.meta_desc = desc;
            this.meta_keys = keys;
        },
        getSocialLinks(selector){
            //console.log('getSocialLinks');
            //console.log(this.oglas.social);
            
            let dr_mreze = this.oglas.social;
            if (Array.isArray( dr_mreze )) { //preview
                //console.log('getSocialLinks -Array');
                let dr_mreze_preview = {};

                dr_mreze.forEach(mreza => {
                    //console.log(mreza);
                    let link = mreza.link;
                    if (mreza.link && mreza.link.indexOf('//') == -1) {
                        link = '//'+link;
                    }
                
                    switch (mreza.id) {
                        case 'facebook':
                            dr_mreze_preview.f = link;
                            break;
                        case 'twitter':
                            dr_mreze_preview.t = link;
                            break;
                        case 'instagram':
                            dr_mreze_preview.i = link;
                            break;
                        case 'youtube':
                            dr_mreze_preview.y = link;
                            break;
                        case 'web site':
                            dr_mreze_preview.w = link;
                            break;
                        case 'email':
                            dr_mreze_preview.e = link.replace('//', "mailto:");
                            break;
                        default:
                            break;
                    }

                    dr_mreze=dr_mreze_preview;
                    
                });
            }
            else{
                //console.log('getSocialLinks -Object - selector: '+selector);
                //console.log(dr_mreze);
                if (dr_mreze.hasOwnProperty(selector)) {
                    if (selector == 'e') {
                        if (dr_mreze.e.indexOf('mailto:') == -1) {
                            dr_mreze.e = 'mailto:'+dr_mreze.e;
                        } 
                    }
                    else if (dr_mreze[selector].indexOf('//') == -1) {
                        dr_mreze[selector] = '//'+dr_mreze[selector];
                    } 
                }              
            }            

            let out;
            try {
                out = dr_mreze[selector];
            } catch (error) {
                out = "";
            }

            //console.log("getSocialLinks() " +selector+" --- "+out);
            return out;

        },
        getMalaSlika(){
            let mala_slika;
            if (this.mala_slika) {
                mala_slika= this.mala_slika;
            } 
            else {
                mala_slika=this.oglas.slike[0];
            }
            //console.log(mala_slika);            
            return mala_slika;
        },
		goBack() {
			history.back();
		},
		polColor(pol) {
			if (pol == "muški") return "geekblue";
			else return "magenta";
        },
        getPol(selector){
            if (selector == 1) return ["muški"];
            else if (selector == 2) return ["ženski"];
            else if(Array.isArray(selector)) return selector;//preview
			else return ["muški","ženski"];
        },
        getUzrast(indexG){
            let out_data;
            if (this.grupe[indexG].uzrast[1] == 21) {
                return this.grupe[indexG].uzrast[0]+" i više";            
            }
            else{
                return this.grupe[indexG].uzrast[0]+"-"+this.grupe[indexG].uzrast[1];
            }
        },
        getAjaxData(){
            //.log(oglas_id);
            var ajax = new XMLHttpRequest();
            var self=this;
            function response(){
                if(ajax.readyState == 4){
                    if(ajax.status == 200){
                        var result = JSON.parse(ajax.responseText);	
                            //console.log("JSON.parse(ajax.responseText)");				
                            //console.log(result);			
                        if(result['status']===0){
                            self.setData(result.data.oglas, result.data.grupe); 
                        }else if(result['status'] < 0){
                            self.$Notice.warning({
                                title: 'Poruka',
                                desc: result['msg'],
                                duration: 5
                            });
                            //alert("error:"+result['status']+" - " + result['msg']);					
                        }else{
                            alert("error:"+result['status']+" - " + result['msg']);					
                        }
                    }                      
                }
            }
            ajax.onreadystatechange = response;
            ajax.open('POST',this.$controller_path);
            ajax.setRequestHeader('Content-Type','application/json');

            if (this.id) {
                ajax.send(JSON.stringify({
                    action:'getOglasById', 
                    id:this.id 
                }));
            }
            else{
                var oglas_name = this.$route.params.oglas;         
                var oglas_sub_category = this.$route.params.sub_category;         
                //console.log("oglas_name "+oglas_name);
                //console.log("oglas_sub_category "+oglas_sub_category);
                ajax.send(JSON.stringify({
                    action:'getOglasByName', 
                    naziv_url:oglas_name ,
                    sub_category: oglas_sub_category
                }));
            }
        },
        convToArray(string){          
            return string.split(", ");
        },
        getShortTime(string){                    
            //var out = string.substring(0, string.indexOf(':',3));
            let out = string.replace(/:00/g,'');
            //out = out.replace(':00','');
            return out ? out : string;
        },
        getDay(selector){
            //console.log('getDay '+selector);            
            switch (selector+"") {
                case "1":
                    return "pon";
                case "2":
                    return "uto";
                case "3":
                    return "sre";
                case "4":
                    return "čet";
                case "5":
                    return "pet";
                case "6":
                    return "sub";
                case "7":
                    return "ned";            
                default:
                    return selector;
            }
        },
        getImgAlt(filename){
            var first = filename.lastIndexOf('/');
            var last = filename.lastIndexOf('.');
            return filename.substring(first + 1, last);
        },
        getSlike(){
            //console.log("getSlike()");
            //fixme todo prikazuje sa samo prva slika unete u preview!?
              
            var out = [];
            let slike = this.oglas.slike; 
            //console.log(typeof slike);
            //console.log(slike.length);
            //console.log(slike);
            if (slike[0].indexOf("data:image/") ==-1) {
                slike.forEach(element => {
                    out.push(
                        {
                            link: element, 
                            alt: this.getImgAlt(element)
                        }
                    );
                });
            }  
            else{//preview
                //console.log('aaaaaaaa '+slike.length);                
                for (let i = 0; i < slike.length; i++) {
                    out.push(
                        {
                            link: slike[i], 
                            alt: ""
                        }
                    );                    
                }
            }   
            
            //console.log(out);
            return out;
        },
        setData(oglas, grupe ){            
            /* console.log('-----setData------'); 
            console.log(oglas);
            console.log(grupe); */

            this.oglas = oglas;
            this.grupe = grupe;

            if (typeof oglas.treneri == 'string') {
                this.oglas.treneri = this.getJsonParse(oglas.treneri);
            }
            if (typeof oglas.social == 'string') {
                this.oglas.social = this.getJsonParse(oglas.social);
            }
            if (typeof oglas.slike == 'string') {
                this.oglas.slike = this.getJsonParse(oglas.slike);
            }

            this.grupe.forEach(element => {
                element.pol = this.getPol(element.pol);
                if (typeof element.days == 'string') {
                    element.days = this.convToArray(element.days);
                    element.start = this.convToArray(element.start);
                    element.end = this.convToArray(element.end);
                }
                if (typeof element.uzrast == 'string') {
                    element.uzrast = this.convToArray(element.uzrast);
                }
            });
            this.setMetaTags();
            this.is_data_ready = true;           

        },
        getYoutubeId(url) {
            var regExp = /^.*(list=|youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
            var match = url.match(regExp);
            
            if (match && match[2].length >= 11) {
                return match[2];
            } else {
                return false;
            }
        },
        getJsonParse(json_obj){
            var out_data;
            try {
                out_data=JSON.parse(json_obj);
            } catch (e) {
                out_data=false;
            }
            return out_data;
        },
	},
    beforeUpdate:function () {
        //console.log('HOOK -ItemDetails- beforeUpdate'); 
    },
	created: function() {
        var selector='';
        if (this.prop_oglas && this.prop_grupe) {
            let oglas_preview = Object.assign({}, this.prop_oglas)  ;
            //console.log('*****************oglas_preview******************');  
            if (FileReader) {
                let niz_slike_preview = [];

                oglas_preview.slike.forEach(slika => {
                    if (slika.fajl  && typeof slika.fajl == 'object') {
                        let reader = new FileReader();                   
                        reader.onload = function () {
                            niz_slike_preview.push(reader.result);
                        }               
                        reader.readAsDataURL(slika.fajl);                     
                    }
                });                   
                oglas_preview.slike = niz_slike_preview;
                //console.log(oglas_preview.slike);                
            }
            else{
                this.$Notice.warning({
                    title: 'Poruka',
                    desc: "Slike su učitane ali vaš intenet browser ne podržave pregled slika u <strong>preview</strong> prikazu.",
                    duration: 5
                });
            }
            
            this.setData(oglas_preview, this.prop_grupe);
            selector = "props";
            //console.log(this.prop_oglas); 
        } 
        else if (typeof webpackHotUpdate !== "undefined" && typeof webpackHotUpdate !== null) {
            //console.log('In Dev Mode');
            var cat;
            switch (this.$route.params.sub_category.toLowerCase()) {
                case "fudbal":
                    cat = "sport";
                    break;
                case "kud":
                    cat = "umetnost";
                    break;
                case "engleski":
                    cat = "strani jezici";
                    break;
                case "matematika":
                    cat = "dodatna nastava";
                    break;
                case "programiranje":
                    cat = "obuke i kursevi";
                    break;            
                default:
                    cat = "sport";
                    break;
            }
            var init = getData_noAjax(this.$route.params.oglas,cat,this.$route.params.sub_category);  
		    this.setData(init.oglas, init.grupe);
            selector = "NOajax";
        } 
        else {
            this.getAjaxData();
            selector = "AJAXData";
        }

        //console.log('HOOK -ItemDetails- created - '+selector); 
        //console.log(this.oglas); 
	},
	mounted: function() {
		/* var elem = document.getElementsByClassName("light_box")[0];
		elem.addEventListener("mouseover", function() {
			elem.classList.add("animated", "pulse");
		});
		elem.addEventListener("mouseout", function() {
			elem.classList.remove("animated", "pulse");
        }); */
        var selector = document.querySelector(".lightbox__thumbnail img");
        if (selector) {
            selector.alt = this.getImgAlt(selector.src);
        }

        selector = document.getElementById('dataContainer');
        this.$nextTick(() => {
            selector.scrollBy({
                top: -1000,
                behavior: 'smooth'
            });          
        });
	}
};

function getData_noAjax(naziv,cat,sub_cat) {
	var oglas = {
		id: 1,
        naziv: naziv,
        category: cat,
        sub_category: sub_cat,
        grad: "kraljevo",
        deo_grada: "ribnica",
        treneri: 
        [
            {ime:"Ivan Ivic",telefon:"064-654764645"},
            {ime:"Jovan Jovic",telefon:"064654000"}
        ],
        cene: "10e/h, 50e/mesecno",
        koordinate: "43.714912,20.694083",
        mala_slika: require("../assets/kk-sloga.jpg"),
        slike: [
            require("../assets/kk-sloga.jpg"),
            require("../assets/proba.png"),
            require("../assets/kk-sloga-1.jpg"),
            require("../assets/kk-sloga-2.jpg"),
            require("../assets/kk-sloga-3.jpg"),
            require("../assets/kk-sloga-4.png"),
        ],
        video: "https://www.youtube.com/watch?v=ZUd9uJSfV_I&list=PLxiFiiDeTV1M6Ne-nI7Lqe-P4UJxCbCGT&index=9",
        adresa: "nova hala sportova",
        //social: '{"y":"https:\/\/www.youtube.com\/watch?v=c0eHoglH5Rk","f":"https:\/\/www.facebook.com\/B92vesti\/"}',
        social: {y:"https://www.youtube.com/watch?v=c0eHoglH5Rk",f:"https://www.facebook.com/B92vesti/",e:"opaa@gmail.com"},
    };
    var grupe=[
        {pol: "0", uzrast: [7,10], days: [1, 3, 7], start: ["19:00", "9:05:00", "1:5:00"], end: ["20:0", "21:00", "17:00"]}, 
        {pol: "0", uzrast: [12,14], days: [1, 5, 6], start: ["11:00:00", "12:00:00", "16:00:00"], end: ["12:00:00", "13:00:00", "17:00:00"]},
        {pol: "1", uzrast: [14,16], days: [1, 5, 6, 6], start: ["11:00:00", "12:00:00", "16:00:00", "19:00:00"], end: ["12:00:00", "13:00:00", "17:00:00", "20:00:00"]},
        {pol: "2", uzrast: [16,21], days: [1], start: ["19:00:00"], end: ["20:00:00"]}
    ];
	return {oglas, grupe};
}
</script>

<style scoped>
ul .day {
	width: 40px;
	display: inline-block;
}
.timeline_item ul {
	font-size: 1.5em !important;
	list-style-type: none;
	list-style-position: inside;
}
.timeline_item:hover {
	background-color: rgba(0, 0, 0, 0.15);  
}
.timeline_item {
	background-color: unset;
}
h3:first-letter {
	text-transform: uppercase;
}
.heders{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;    
}
h2{
    color: rgba(255, 0, 0, 0.5);
	font-size: 2em;
	letter-spacing: 3px;
	text-transform: capitalize;
	font-weight: 700;
}
h1 {
	font-size: 3em;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: 700;

	text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
		1px 4px 1px #919191, 1px 5px 1px #919191,
		1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2);
}
h1:hover {
	text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
		1px 4px 1px #919191, 1px 5px 1px #919191, 5px 6px 1px #919191,
		5px 7px 1px #919191, 5px 8px 1px #919191, 5px 9px 1px #919191,
		5px 10px 1px #919191, 5px 18px 6px rgba(16, 16, 16, 0.4),
		5px 22px 10px rgba(16, 16, 16, 0.2), 5px 25px 35px rgba(16, 16, 16, 0.2),
		5px 30px 60px rgba(16, 16, 16, 0.4);
}
h3 {
	font-size: 1.5em;
	text-decoration: underline;
    font-style: italic;
}
.root {
	color: whitesmoke;
}
.side_container {
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
}
iframe {
	box-shadow: 0px 0px 10px 1px black;
}
.container_grupe,
.container_persons,
.container_cena {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
}
.single_grupa,
.single_person,
.single_cena {
	margin: 5px;
	border: 1px dotted white;
	border-radius: 5px;
	padding: 5px;
}
.single_grupa:hover{
	border: 1px solid red;
}
.single_person:hover{    
	border: 1px solid rgb(0, 168, 0);
}
.single_cena:hover {
	border: 1px solid white;
}
.single_cena:hover {
	border: 2px solid goldenrod;
    font-weight: bold;
}
.single_person, .single_cena, .container_kontakt{
    font-size: 1.5em!important;
}
.hour {
	margin-right: 7px;
}
.hour::after {
	content: "h";
}
#backButton{
    margin-top: 20px;
}
#backButton:hover{
    border-style: solid!important;
    font-weight: bold;
    color: whitesmoke!important;
    border-color: whitesmoke!important;
}
.media_button{
    padding: 5px 10px !important;
    color:whitesmoke;
    border-color:whitesmoke!important;
    width: 70px;
    margin: 5px;
}
.heders h3{
    text-align: end;
    font-weight: normal;
    font-style: normal;
}
</style>

