<template>
	<div class="fixedclass">
        <vue-headful 
            :title="meta_title"
            :description="meta_desc"
        	:keywords="meta_keys"
        />
        <!-- <Filters></Filters> -->
		<div id="conteiner_cards">
            <!-- <router-view></router-view> -->
            <Card v-for="card in getListData" :key="card.id" :prop_theme="themes[theme_num]" :data_card="card" ></Card>
        </div>
        <Footer id="el_footer"></Footer>
	</div>
</template>

<script>
import Footer from "../components/Footer.vue"; 
import Card from "./Card.vue";
/*todo import Filters from "./Filters.vue"; */

export default {
	name: "List",
	components: {Card, Footer/*, Filters */},
	data: function() {
		return {
            list_data: [],
            themes:["success","primary","error"],
            theme_num:0,
            meta_title:"",
            meta_desc:"",
            meta_keys:"",
		};
	},
    created: function() {
        //console.log('HOOK -List- created');
        var url_date = this.getUrlData();
        if (url_date == "dodaj_oglas") {
            //console.log("dodaj_oglas");
            document.querySelector(".first-item.position_bottom a").click();
            return;
            //this.$router.push("/kraljevo/dodaj_oglas");
        } else {
            this.getAjaxData(this.getUrlData());
        }  
        
        this.theme_num = Math.floor(Math.random() * (this.themes.length))  
        //console.log(this.themes[this.theme_num]+ " "+this.theme_num);
         
    },
    mounted: function() {
        var element = document.getElementById("conteiner_cards");
        var heightOfElAbove = 70; // header el
        if (element) {
            heightOfElAbove += element.offsetHeight;
        }

        var margin_top = 0;
        if (heightOfElAbove < window.innerHeight) {
            margin_top = (window.innerHeight - heightOfElAbove - 110)+"px";
        }         
        document.getElementById("el_footer").style.marginTop = margin_top;  
        //console.log("marginTop " +margin_top);  

        if (isMobile() && COUNTER_LOADS<3) {
            COUNTER_LOADS++;
            animateCardsOnLoad();
        }

    },
    beforeUpdate: function() {  
        //console.log('HOOK -List- beforeUpdate');              
    },
	computed: {
        getListData(){
            //console.log('getListData()');
            //console.log(this.list_data);   
            return this.list_data;
        },
    },
    methods:{
        getPadezZaGrad(out){
            switch (out) {
                case "Kraljevo": return "Kraljevu";
                case "Beograd": return "Beogradu";            
                default: return out;
            }
        },
        getPadezZaSport(out){
            if (out.split("").pop() == 'a') { //odbojka
                return out.slice(0, -1) + "u"; //odbojku
            } else {
                return out;
            }
        },
        getPadezZaNastavu(out){
            if (out.split("").pop() == 'a') { //matematika
                return out.slice(0, -1) + "e"; //matematike
            } else if (out.split("").pop() == 'i') { //srpski
                return out.slice(0, -1) + "og"; //srpskog
            } else {
                return out;
            }
        },
        setMetaTags(){
            if (typeof this.getUrlData() == "undefined") {
                //pocetna stranica
                this.meta_title = "POKRENISE.RS - sport, rekreacija, jezici, obuke... ko, gde, kada...";
                this.meta_desc = this.$meta_common_desc;
                this.meta_keys = this.$meta_common_keys+"Sport,rekreacija,učenje jezika,obuke,kursevi,sve informacije na jednom mestu";
                return;
            }

            //console.log(this.list_data);            

            var meta_cat,meta_sub_cat,meta_grad;
            try {meta_cat = this.list_data[0].category;}
            catch (error) {meta_cat ="";}

            try {meta_sub_cat = this.list_data[0].sub_category;}
            catch (error) {meta_sub_cat ="";}

            try {meta_grad = this.list_data[0].grad;}
            catch (error) {meta_grad ="";}

            var title = this.$meta_common_title+" - "+meta_grad+" - ";
            var desc;
            var keys = this.$meta_common_keys;
            keys+=meta_sub_cat+","+meta_grad+",";
                    
            var temp;

            switch (meta_cat.toLowerCase()) {
                case 'sport':
                    title += meta_sub_cat + " - sve informacije o treninzima";
                    desc =  "Želiš da treniraš "+this.getPadezZaSport(meta_sub_cat)+" u "+this.getPadezZaGrad(meta_grad)+" - pokrenise web sajt ima sve informacije koje su ti potrebne - imena klubova, trenera, termini, lokacije, cene...";
                    keys+="gde da treniram "+meta_sub_cat+",";
                    keys+="klub,klubovi,trener,treneri";
                    break;
                case 'umetnost':   
                    title += meta_sub_cat + " - sve informacije o terminima";  
                    temp =   meta_sub_cat == "KUD" ? "kulturno umetničko duštvo"  : meta_sub_cat;           
                    desc =  "Zanima te "+temp+" u "+this.getPadezZaGrad(meta_grad)+" - ko drži časove, za koji uzrast, kada i koliko - sve potrebne informacije možeš pronaći na pokrenise web sajtu...";
                    keys+="gde da naučim "+meta_sub_cat+","+temp+",";
                    keys+="klub,klubovi,predavači";
                    break;
                case 'strani jezici':
                    title += "saznaj ko, gde, kada drži časove ";                    
                    title += meta_sub_cat.slice(0, -1)+"og jezika"; 
                    desc =  "Želiš da naučiš "+meta_sub_cat+" jezik u "+this.getPadezZaGrad(meta_grad)+" - na sajtu pokrenise imaš sve potrebne informacije - koje su škole stranih jezika u "+this.getPadezZaGrad(meta_grad)+", predavači, termini...";
                    keys+="gde da naučim "+meta_sub_cat+",";
                    keys+="kurs "+meta_sub_cat+" jezika u "+this.getPadezZaGrad(meta_grad)+",";
                    keys+="predavači";
                    break;
                case 'dodatna nastava':
                    title += meta_sub_cat + " - saznaj ko, gde, kada daje časove";
                    desc =  "Trebaju ti dodatni časovi iz "+this.getPadezZaNastavu(meta_sub_cat)+" u "+this.getPadezZaGrad(meta_grad)+", za osnovnu ili srednju školu, ili priprema za polaganje prijemog ispita - pokrenise ima sve informacije...";
                    keys+="dodatni časovi iz "+this.getPadezZaNastavu(meta_sub_cat)+" u "+this.getPadezZaGrad(meta_grad)+",";
                    keys+="predavači";                    
                    break;
                case 'obuke i kursevi':
                    title += meta_sub_cat + " - sve informacije o obukama";
                    desc =  "Želiš da naučiš "+meta_sub_cat+" u "+this.getPadezZaGrad(meta_grad)+" - na sajtu pokrenise imaš sve potrebne informacije - ko vrši obuku, gde, kada, za koji uzrast, cene...";
                    keys+="obuka za "+meta_sub_cat+" u "+this.getPadezZaGrad(meta_grad)+",";
                    keys+="predavači";
                    
                    break;            
                default:
                    title += "sve informacije na jednom mestu";
                    desc = this.$meta_common_desc;

                    break;
            }

           /*  console.log('title -------- '+title);
            console.log('desc -------- '+desc);
            console.log('keys -------- '+keys);   */          

            this.meta_title = title;
            this.meta_desc = desc;
            this.meta_keys = keys;
        },
        getUrlData(){
            return this.$route.params.sub_category;
        },
        getAjaxData(sub_category){
            var user_admin = window.location.href.split('=')[1];
            //console.log(sub_category);
            var ajax = new XMLHttpRequest();
            var self=this;
            function response(){
                if(ajax.readyState == 4){
                    if(ajax.status == 200){
                        var result;
                        try {
                            result = JSON.parse(ajax.responseText);	
                            //console.log("result");				
                            //console.log(result);			
                            if(result['status']===0){
                                //console.log(result['msq']);
                                self.list_data = result['data']; 
                            }
                            else {
                                self.$Notice.warning({
                                    title: 'Poruka',
                                    desc: result['msg'],
                                    duration: 5
                                });
                                //alert("error:"+result['status']+" - " + result['msg']);					
                            }
                        } catch (error) {
                            self.list_data = getData_noAjax(self.getUrlData());
                            self.$Notice.warning({
                                title: 'Poruka',
                                desc: "Podaci iz baze nisu dostupni - prikazani su podaci za testiranje.",
                                duration: 5
                            });
                        }
                    }
                    else{
                        self.list_data = getData_noAjax(self.getUrlData());
                        self.$Notice.warning({
                        title: 'Poruka',
                                desc: "Podaci iz baze nisu dostupni - prikazani su podaci za testiranje.",
                                duration: 5
                            });
                    }
                    
                    self.setMetaTags();
                }
            }
            ajax.onreadystatechange = response;
            ajax.open('POST',this.$controller_path);
            ajax.setRequestHeader('Content-Type','application/json');
            if (user_admin) {
                ajax.send(JSON.stringify({
                    action:'getHomeData_unVer', 
                    user:user_admin
                }));
                this.$Modal.confirm({
                    title: 'ADMINISTRATOR',
                    content: "Učitavaju se podaci namenjeni administaciji sajta - klikni na <strong>OK</strong> ako si administrator. <br>Ako nisi, klikni na <strong>Cancel</strong>!",
                    onCancel: () => {
                        document.location.href = '/';
                    }
                });
            } else {
                ajax.send(JSON.stringify({
                    action:'getHomeData', 
                    sub_category:sub_category
                }));
            }
        }
    },
	props: {}
};

function isMobile(){
    var check = false;
    (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
    return check;
}

function animateCardsOnLoad(){
        setTimeout(() => {     
            var timing = 200;   
            var niz_cards = document.getElementsByClassName('card-inner');
            for ( let i = 0; i < niz_cards.length; i++) {
                setTimeout(function() { 
                    niz_cards[i].style.transition = "transform 1s ease-in-out";
                    niz_cards[i].style.transform   = "rotateY(180deg)";
                    //console.log(niz_cards[i].style);
                    setTimeout(function() { 
                        niz_cards[i].removeAttribute('style');
                    }, 1200);
                    //console.log(niz_cards[i].style);
                }, timing*i);
            }        
        }, 2000);
}

function getData_noAjax(sub_category) {
    //console.log(sub_category);
	var data_košarka = [
        {
            id: 1,
            naziv: "KK sloga",
            naziv_url: "KK-sloga",
            grad: "Kraljevo",
			category: "sport",
			sub_category: "košarka",
            mala_slika: require("../assets/kksloga.jpg"),
            adresa: "nova hala sportova",
            uzrast: "7-14, 14-16, 16-21",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        },
        {
            id: 2,
			naziv: "KK sloga2",
            naziv_url: "KK-sloga2",
            grad: "Kraljevo",
			category: "sport",
			sub_category: "košarka",
            mala_slika: require("../assets/kksloga-juniori.jpg"),
            adresa: "nova hala sportova222222222333333333333",
            uzrast: "7-14, 14-16, 18-21",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        },
        {
            id: 3,
            grad: "Kraljevo",
			naziv: "KK sloga2",
            naziv_url: "KK-sloga2",
			category: "sport",
			sub_category: "košarka",
            mala_slika: require("../assets/kksloga-juniori.jpg"),
            adresa: "nova hala sportova22222222 gsd sdgs dvdd d 2",
            uzrast: "7-14, 14-16, 18-21",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        },
        {
            id: 4,
            grad: "Kraljevo",
			naziv: "KK sloga2",
            naziv_url: "KK-sloga2",
			category: "sport",
			sub_category: "košarka",
            mala_slika: require("../assets/kksloga-juniori.jpg"),
            adresa: "nova hala sportova222222222",
            uzrast: "7-14",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        },
        {
            id: 5,
            grad: "Kraljevo",
			naziv: "KK sloga2",
            naziv_url: "KK-sloga2",
			category: "sport",
			sub_category: "košarka",
            mala_slika: require("../assets/kksloga-juniori.jpg"),
            adresa: "nova hala sportova222222222",
            uzrast: "18-21",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        },
        {
            id: 6,
            grad: "Kraljevo",
            naziv: "KK sloga2",
            naziv_url: "KK-sloga2",
			category: "sport",
			sub_category: "košarka",
            mala_slika: require("../assets/kksloga-juniori.jpg"),
            adresa: "nova hala sportova222222222",
            uzrast: "14-16, 18-21",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        },
        {
            id: 7,
            grad: "Kraljevo",
			naziv: "KK sloga2",
            naziv_url: "KK-sloga2",
			category: "sport",
			sub_category: "košarka",
            mala_slika: require("../assets/kksloga-juniori.jpg"),
            adresa: "nova hala sportova222222222",
            uzrast: "7-14, 14-16, 18-21",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        },
    ];
	var data_fudbal = [
        {
            id: 11,
            grad: "Kraljevo",
			naziv: "FK sloga",
            naziv_url: "FK-sloga",
			category: "sport",
			sub_category: "fudbal",
            mala_slika: require("../assets/fk-sloga-kraljevo.gif"),
            adresa: "gradski stadion",
            uzrast: "7-14",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        },
        {
            id: 12,
            grad: "Kraljevo",
			naziv: "FK metalac",
            naziv_url: "FK-metalac",
			category: "sport",
			sub_category: "fudbal",
            mala_slika: require("../assets/fk-metalac-kraljevo.jpg"),
            adresa: "stadion metalca",
            uzrast: "18-21",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        },
        {
            id: 13,
            grad: "Kraljevo",
			naziv: "FK bubamara",
            naziv_url: "FK-bubamara",
			category: "sport",
			sub_category: "fudbal",
            mala_slika: require("../assets/fk-bubamara-kraljevo.jpg"),
            adresa: "stadion bubamara i balon",
            uzrast: "7-14, 14-16, 18-21",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        }
    ];
	var data_engleski = [
        {
            id: 110,
            grad: "Kraljevo",
			naziv: "oksford",
            naziv_url: "oksford",
			category: "Strani jezici",
			sub_category: "engleski",
            mala_slika: require("../assets/jezici0.jpg"),
            adresa: "dom drustvenih",
            uzrast: "12-21",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        },        
        {
            id: 111,
            grad: "Kraljevo",
			naziv: "oksford aaa",
            naziv_url: "oksford-opaaa",
			category: "Strani jezici",
			sub_category: "engleski",
            mala_slika: require("../assets/jezici1.jpg"),
            adresa: "dom drustvenih",
            uzrast: "12-55",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        },
    ];
	var data_nemački = [
        {
            id: 311,
            grad: "Kraljevo",
			naziv: "oksford nemački",
            naziv_url: "oksford-nemački",
			category: "Strani jezici",
			sub_category: "nemački",
            mala_slika: require("../assets/jezici2.jpg"),
            adresa: "dom drustvenih",
            uzrast: "18-21",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        },
    ];
	var data_kud = [
        {
            id: 511,
            grad: "Kraljevo",
			naziv: "abrasevic",
            naziv_url: "abrasevic",
			category: "Umetnost",
			sub_category: "KUD",
            mala_slika: require("../assets/kud.jpg"),
            adresa: "dom drustvenih",
            uzrast: "18-21",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        },
    ];
	var data_matem = [
        {
            id: 611,
            grad: "Kraljevo",
			naziv: "matematika casovi",
            naziv_url: "matematika-casovi",
			category: "Dodatna nastava",
			sub_category: "matematika",
            mala_slika: require("../assets/matematika.jpg"),
            adresa: "dom drustvenih",
            uzrast: "18-21",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        },
    ];
	var data_prog = [
        {
            id: 711,
            grad: "Kraljevo",
			naziv: "js css",
            naziv_url: "js-css",
			category: "Obuke i kursevi",
			sub_category: "programiranje",
            mala_slika: require("../assets/prog.png"),
            adresa: "dom drustvenih",
            uzrast: "18-21",
            treneri: '[{"ime":"Ivan Ivic","telefon":"064-654764645"},{"ime":"Jovan Jovic","telefon":"064654000"}]'
        },
    ];
    switch (sub_category) {
        case "fudbal":            
            return data_fudbal;            
            break;
        case "košarka":            
            return data_košarka;            
            break;  
        case "engleski":            
            return data_engleski;            
            break; 
        case "nemački":            
            return data_nemački;            
            break;    
        case "KUD":            
            return data_kud;            
            break;    
        case "matematika":            
            return data_matem;            
            break;    
        case "programiranje":            
            return data_prog;            
            break;    
        default:    
            return data_fudbal;
            break;
    }
}
</script>

<style scoped>
#conteiner_cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


</style>
