<template>
	<div class="root fixedclass">        
        <vue-headful 
            :title="meta_title"
            :description="meta_desc"
        	:keywords="meta_keys"
        />
        <transition-group appear enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOutRight">
        <div id="id_input" key="0" v-show="!is_preview">

        <!-- <form id="id_form"> -->
		<div class="heders">
			<div class="div_inline">
				<transition-group name="fade">
					<strong
						v-if="!oglas.grad"
						:key="0"
						style="font-size:1.2em"
						class="label"
					>Odaberi grad</strong>
					<span v-show="!oglas.grad" :key="1" class="span_header" >
						<Icon
							style="display:inline-block;"
							class="animated infinite flash slow"
							type="md-arrow-round-forward"
                            size="20"
						/>
					</span>
				</transition-group>
				<Select class="select_header" v-model="oglas.grad" size="large">
					<Option value="Kraljevo">Kraljevo</Option>
                    <Option value="Beograd" disabled>Beograd</Option>
				</Select>
			</div>
			<div v-if="oglas.grad" class="div_inline">
				<transition-group name="fade">
					<strong
						v-if="!oglas.deo_grada"
						:key="0"
						style="font-size:1.2em"
						class="label"
					>Odaberi deo grada</strong>
					<span v-show="!oglas.deo_grada" :key="1" class="span_header">
						<Icon
							style="display:inline-block;"
							class="animated infinite flash slow"
							type="md-arrow-round-forward"
                            size="20"
						/>
					</span>
				</transition-group>
				<Select class="select_header" v-model="oglas.deo_grada" size="large">
					<Option value="gradska zona">gradska zona</Option>
                    <Option value="Ribnica">Ribnica</Option>
                    <Option value="Kovači">Kovači</Option>
                    <Option value="Čibukovac">Čibukovac</Option>
                    <Option value="ostalo">ostalo</Option>
				</Select>
			</div>
			<div v-if="oglas.deo_grada" class="div_inline">
				<transition-group name="fade">
					<strong
						v-if="!oglas.category"
						:key="0"
						style="font-size:1.2em"
						class="label"
					>Odaberi kategoriju kojoj oglas pripada</strong>
					<span v-if="!oglas.category" :key="1" class="span_header">
						<Icon
							style="display:inline-block;"
							class="animated infinite flash slow"
							type="md-arrow-round-forward"
                            size="20"
						/>
					</span>
				</transition-group>
				<Select class="select_header" v-model="oglas.category" size="large">
					<Option v-for="item in getCategories" :value="item" :key="item">{{item}}</Option>
				</Select>
			</div>
			<div v-if="oglas.category" class="div_inline">
				<transition-group name="fade">
					<strong
						v-show="!oglas.sub_category"
						:key="0"
						style="font-size:1.2em"
						class="label"
					>Odaberi podkategoriju</strong>
					<span v-show="!oglas.sub_category" :key="1" class="span_header">
						<Icon
							style="display:inline-block;"
							class="animated infinite flash slow"
							type="md-arrow-round-forward"
                            size="20"
						/>
					</span>
				</transition-group>
				<Select v-model="oglas.sub_category" size="large" style="width:150px">
					<Option v-for="item in getSubCategories" :value="item" :key="item">{{item}}</Option>
				</Select>
				<!-- <h2>
					<span>{{oglas.sub_category}}</span>
				</h2> -->
			</div> 
			<div v-if="oglas.sub_category">
                <transition-group name="fade">
					<strong
						v-show="!oglas.naziv"
						:key="0"
						style="font-size:1.2em"
						class="label"
					>Unesi naziv kluba/usluge</strong>
					<span v-show="!oglas.naziv" :key="1" class="span_header">
						<Icon
							style="display:inline-block;"
							class="animated infinite flash slow"
							type="md-arrow-round-forward"
                            size="20"
						/>
					</span>
				</transition-group>
				<Input
                    :class="{'invalid_input':!valid.naziv&&oglas.naziv.length<4}"
					v-model="oglas.naziv"
					placeholder="KK Sloga ili Oxford škola jezika ..."
					:maxlength="63"
					style="width: 200px; margin-right:20px;"
                    size="large"
				/>
                <transition appear enter-active-class="animated fadeInDownBig" leave-active-class="animated fadeOutDown fast">
                    <div v-if="oglas.naziv.trim().length>3&&curent_input_step==0" class="proceed_button">
                    <Button type="primary" size='small' @click="validateName()">
                        nastavi dalje
                        <Icon size="30" type="ios-return-left" />
                    </Button>
                    </div>
                </transition>
				<h1 v-if="curent_input_step>0">{{oglas.naziv}}</h1>
			</div>       
		</div>
        <timeline>
            <transition-group enter-active-class="animated fadeInDown" leave-active-class="animated fadeOut faster">
            <timeline-item v-if="curent_input_step>=1" key="termini" color="red" class="timeline_item">
                <Icon type="md-clock" slot="dot"/>
                <h3>Termini</h3>
                <div class="container_grupe0">
                    <transition-group class="container_grupe" enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOut faster">
                    <div class="single_grupa" v-for="(grupa,indexG) in grupe" :key="grupa.id">
                        <section>pol:
                            <Tag
                                v-for="pol in grupa.pol"
                                :key="pol"
                                :name="pol"
                                closable
                                type="border"
                                :color="polColor(pol)"
                                @on-close="setPol(indexG, pol)"
                            >{{pol}}</Tag>
                            
                            <p>uzrast:

                            <Tooltip content="pomeraj klizač da bi promenio uzrast grupe" placement="right">
                            <Tag type="border" color="success">
                                <span v-if="grupa.uzrast[1]<21">od&nbsp;{{grupa.uzrast[0]}} - do&nbsp;{{grupa.uzrast[1]}}</span>
                                <span v-else>{{grupa.uzrast[0]}} i više</span>
                            </Tag>
                            </Tooltip>
                            </p>

                            <Slider v-model="grupa.uzrast" :min="3" :max="21" show-stops show-tip="never" range></Slider>
                        </section>

                        <div class="termini" v-for="(termin,indexT) in grupa.days" :key="indexT">
                            <!-- <div>{{grupa.days[indexT]}}-{{grupa.start[indexT]}}-{{grupa.end[indexT]}}</div> -->
                            <Input class="termin_input" :class="{'invalid_input':!grupa.valid[indexT]&&(!grupa.days[indexT]||!grupa.start[indexT]||!grupa.end[indexT])}">
                                <Select v-model="grupa.days[indexT]" slot="prepend" style="width: 80px;">
                                    <Option v-for="day in getDays()" :value="day" :key="day">{{day}}</Option>
                                </Select>
                                <TimePicker
                                    v-model="grupa.start[indexT]"
                                    confirm
                                    slot="prepend"
                                    placeholder="od"
                                    format="HH:mm"
                                    :steps="[1,5]"
                                    style="width:80px"
                                ></TimePicker>
                                <TimePicker
                                    v-model="grupa.end[indexT]"
                                    hide-disabled-options
                                    :disabled-hours="getDisabledHours(grupa.start[indexT])"
                                    confirm
                                    slot="prepend"
                                    placeholder="do"
                                    format="HH:mm"
                                    :steps="[1,5]"
                                    style="width:80px"
                                ></TimePicker>
                                <Button v-show="grupa.days.length > 1" @click="deleteTermin(indexG,indexT)" title="obriši termin" slot="append" type="error" shape="circle" icon="md-trash"></Button>
                            </Input>
                        </div>
                        <div style="text-align:center;">
                            <Button style="margin:0 auto;" type="dashed" size='small' @click="addTermin(indexG)"><Icon style="margin-bottom:3px;" type="ios-add-circle-outline" /> dodaj termin</Button>
                        </div>
                        <div v-show="grupe.length>1" class="container_delete_grupa" >
                            <Tooltip placement="bottom-end" content="obriši grupu" >
                                <Icon class="delete_icon" type="md-close" @click="deleteGrupa(indexG)"/>
                            </Tooltip>
                        </div>
                    </div>
                    </transition-group>
                    <Tooltip  v-show="grupe.length<7" content="dodaj novu grupu za drugi pol/uzrast" placement="bottom">
                        <Button type="default" shape="circle" size='large' icon="md-add" @click="addGrupa"></Button>
                    </Tooltip>
                    <Alert style="margin:10px; max-width:500px;" type="info" show-icon closable>
                        Pojašnjenje
                        <span slot="desc">
                            Odaberite pol i uzrast polaznika treninga, a zatim unesite vreme/termine kada se treninzi održavaju.
                            <br>
                            Ako je potrebno, možete dodati više odvojenih grupa (prema polu/uzrastu) klikom na plus dugme.
                            </span>
                    </Alert>
                </div>
                <transition appear enter-active-class="animated fadeInDownBig slow" leave-active-class="animated fadeOutDown fast">
                    <div v-if="curent_input_step==1" class="proceed_button">
                    <Button type="primary" size='small' @click="nextStep('grupe')">
                        nastavi dalje
                        <Icon size="30" type="ios-return-left" />
                    </Button>
                    </div>
                </transition>
                <Divider class="divider"  dashed/>
            </timeline-item>
            <timeline-item v-if="curent_input_step>=2" key="treneri" color="green" class="timeline_item">
                <Icon type="ios-contacts" slot="dot"/>
                <h3>Treneri / predavači / instruktori</h3>
                <div class="container_persons0">
                    <transition-group class="container_persons" enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOut faster">
                    <div class="single_person" v-for="(trener,index) in oglas.treneri" :key="trener.id" 
                    :class="{'invalid_input':!trener.valid&&(trener.ime.length<4||trener.telefon.length<8)}">
                        <h4>
                            <Input
                                prefix="md-person"
                                v-model="trener.ime"
                                placeholder="ime i prezime"
                                :maxlength="32"
                                style="width: 200px"
                                size="large"
                            />
                        </h4>
                        <p style="margin-top:5px">
                            <Input
                                prefix="ios-call"
                                type="text"
                                v-model="trener.telefon"
                                placeholder="0648855123"
                                :maxlength="10"
                                style="width: 150px"
                                size="large"
                            />
                            <span v-show="oglas.treneri.length>1" >
                                <Tooltip placement="bottom-end" content="obriši" >
                                    <Icon class="delete_icon" type="md-close" @click="deleteTrener(index)"/>
                                </Tooltip>
                            </span>
                        </p>
                    </div>
                    </transition-group>
                    <Tooltip v-show="oglas.treneri.length<4" content="dodaj osobu" placement="bottom">
                        <Button type="default" shape="circle" size='large' icon="md-add" @click="addTrener"></Button>
                    </Tooltip>
                </div>
                <transition appear enter-active-class="animated fadeInDown " leave-active-class="animated fadeOutDown fast">
                    <div v-if="curent_input_step==2" class="proceed_button">
                    <Button type="primary" size='small' @click="nextStep('treneri')">
                        nastavi dalje
                        <Icon size="30" type="ios-return-left" />
                    </Button>
                    </div>
                </transition>
                <Divider class="divider"  dashed/>
            </timeline-item>
            <timeline-item v-if="curent_input_step>=3" key="cene" color="gold" class="timeline_item">
                <Icon type="logo-euro" slot="dot"/>
                <h3>Cene, akcije, popusti...</h3>
                <div class="container_cena">
                    <div class="single_cena social_input" :class="{'invalid_input':!valid.cene&&oglas.cene.length<5}">
                        <!-- v-model.lazy ne radi sa komponentama pa mora ovako 
                        :value="oglas.cene" @change.native="oglas.cene = $event.target.value"-->
                        <Input 
                        v-model="oglas.cene"
                        type="textarea" 
                        :maxlength="255"
                        :autosize="{minRows: 2,maxRows: 5}" 
                        placeholder="1000 din/termin, 50eur/mesečno, prva tri meseca besplatno, 20% popust za studente..." />
                        <!-- {{oglas.cene}} -->
                    </div>
                </div>                        
                <transition appear enter-active-class="animated fadeInDown " leave-active-class="animated fadeOutDown fast">
                    <div v-if="curent_input_step==3" class="proceed_button">
                    <Button type="primary" size='small' @click="nextStep('cene')">
                        nastavi dalje
                        <Icon size="30" type="ios-return-left" />
                    </Button>
                    </div>
                </transition>
                <Divider class="divider"  dashed/>
            </timeline-item>
            <timeline-item v-if="curent_input_step>=4" key="social" color="blue" class="timeline_item">
                <Icon type="ios-link" slot="dot"/>
                <h3>Društvene mreže, online kontakt...</h3>
                <div class="container_kontakt">
                    <p style="margin-left:30px;font-size:16px;" class="animated bounceIn delay-1s"> - unesite linkove do vaših stranica na društvenim mrežama/web sajtu/email (nije obavezno):</p>
                    <div class="social_item" v-for="social in oglas.social" :key="social.id">                               
                        <Input
                            :value="social.link" @change.native="social.link = $event.target.value"
                            :placeholder="social.placeholder"
                            :maxlength="150"
                            size="large"
                            class="social_input"
                            :class="{'invalid_input':!social.valid}"
                        >                               
                            <span slot="prepend">
                                <Tooltip :content="social.id" placement="right">
                                <Button @click="socialClick(social.id,social.link)" size="small" class="media_button" :style="{backgroundColor:social.color}" :icon="social.icon"></Button>
                                </Tooltip>
                            </span>
                        </Input>
                    </div>
                </div>
                <transition appear enter-active-class="animated fadeInDown " leave-active-class="animated fadeOutDown fast">
                    <div v-if="curent_input_step==4" class="proceed_button">
                    <Button type="primary" size='small' @click="nextStep('social')">
                        nastavi dalje
                        <Icon size="30" type="ios-return-left" />
                    </Button>
                    </div>
                </transition>
                <Divider class="divider"  dashed/>
            </timeline-item>
            <timeline-item v-if="curent_input_step>=5" key="adresa" color="#e0e0e0" class="timeline_item">
                <Icon type="ios-home" slot="dot"/>
                <h3 style="display:inline-block;">adresa:</h3>
                <div>
                    <Input
                        prefix="ios-home"
                        :value="oglas.adresa" @change.native="oglas.adresa = $event.target.value"
                        placeholder="Dimitrija Tucovića 5 Kraljevo ili npr. Nova hala u Ribnici"
                        :maxlength="63"
                        class="social_input"
                        :class="{'invalid_input':!valid.adresa&&oglas.adresa.length<5}"
                        size="large"
                    />
                    <br>
                    <br>
                <iframe
                    id="gmap_canvas"
                    :src="getGmapLink"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                ></iframe> 
                </div>                
                <transition appear enter-active-class="animated fadeInDown " leave-active-class="animated fadeOutDown fast">
                    <div v-if="curent_input_step==5" class="proceed_button">
                    <Button type="primary" size='small' @click="nextStep('adresa')">
                        nastavi dalje
                        <Icon size="30" type="ios-return-left" />
                    </Button>
                    </div>
                </transition>	
                <Divider class="divider"  dashed/>
            </timeline-item>
            <timeline-item v-if="curent_input_step>=6" key="slike" color="#dc4e41" class="timeline_item">
                <Icon type="md-photos" slot="dot"/>
                <h3 style="display:inline-block;">slike:</h3>
                <p style="margin-left:30px;font-size:16px;" class="animated bounceIn delay-1s"> - odaberite mininum jednu sliku, a maksimalno: {{oglas.slike.length}}:</p>
                <br>
                <div class="slika_cont" v-for="(slika, index) in oglas.slike" :key="slika.id">
                    <ImgInputer 
                        class="slika"
                        @onChange='promenaSlike'
                        v-model="slika.fajl" 
                        :auto-upload="false"
                        accept="image/*"
                        :max-size="8192"
                        placeholder="dodaj sliku"
                        icon="img2" theme="light" size="small" bottom-text="" 
                     />
                    <div v-show="slika.fajl"  style="text-align:center;" > 
                        <Tooltip placement="top" content="obriši sliku" >
                            <Button  @click="resetFile(index)" size="small" type="error" shape="circle" icon="md-trash"></Button>
                        </Tooltip>
                    </div>
                </div>               
                <transition appear enter-active-class="animated fadeInDown " leave-active-class="animated fadeOutDown fast">
                    <div v-if="curent_input_step==6" class="proceed_button">
                    <Button type="primary" size='small' @click="nextStep('slike')">
                        nastavi dalje
                        <Icon size="30" type="ios-return-left" />
                    </Button>
                    </div>
                </transition>	
                <Divider class="divider"  dashed/>
            </timeline-item>
            <timeline-item v-if="curent_input_step>=7" key="video" color="#b31217" class="timeline_item">
                <Icon type="logo-youtube" slot="dot"/>
                <h3 style="display:inline-block;">youtube video:</h3>
                <p style="margin-left:30px;font-size:16px;" class="animated bounceIn delay-1s"> - unesite youtube video/playlist link (nije obavezno):</p>
                <!-- <Tooltip id="youtube_input_aside" placement="right" content="youtube video/playlist"> -->
                <div >
                <Input
                    v-model="oglas.video"
                    placeholder="https://www.youtube.com/watch?v=rHVpeS2Gv9c"
                    :maxlength="250"
                    style="display:block;width:100%;max-width:400px;margin-bottom:5px"
                    size="large"
                />
                </div>
                <!-- </Tooltip> -->
                <iframe v-show="getVideoLink" allowfullscreen :src="getVideoLink"></iframe>
                            
                <transition appear enter-active-class="animated fadeInDown " leave-active-class="animated fadeOutDown fast">
                    <div v-if="curent_input_step>=7" class="proceed_button">
                    <Button type="primary" size='small' @click="lastStep">
                        nastavi dalje
                        <Icon size="30" type="ios-return-left" />
                    </Button>
                    </div>
                </transition>	
                <Divider class="divider"  dashed/>
            </timeline-item>
            <!-- <timeline-item v-if="curent_input_step>=8" key="lokacija" color="#fffb7d" class="timeline_item">
                <Icon type="md-locate" slot="dot"/>
                <h3 style="display:inline-block;">lokacija na mapi:</h3>
                <p style="margin-left:30px;font-size:16px;" class="animated bounceIn delay-1s"> - unesite youtube video/playlist link (nije obavezno):</p>
                <br>
                <iframe
                    id="gmap_canvas"
                    :src="getGmapLink"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                ></iframe>   
                <transition appear enter-active-class="animated fadeInDown " leave-active-class="animated fadeOutDown fast">
                    <div v-if="curent_input_step==8" class="proceed_button">
                    <Button type="primary" size='small' @click="lastStep">
                        nastavi dalje
                        <Icon size="30" type="ios-return-left" />
                    </Button>
                    </div>
                </transition>	
            <Divider class="divider"  dashed/>
            </timeline-item> -->
            <timeline-item id="last_timeline" v-if="curent_input_step>=7" key="last" color="transparent" class="timeline_item">
            </timeline-item>   
            </transition-group>			
        </timeline>  
        <!-- </form> -->      
		<Button
			id="backButton_newItem"
			@click="goBack"
			size="large"
			type="dashed"
			icon="md-return-left"
			ghost
			long
            >
            vrati se nazad</Button>

        <Footer></Footer>
        
        <Tooltip id="progres_circle_container" :class="{'progres_circle_container_finish':modal_preview}" :content="circleTooltip" placement="top">
        <i-circle id="progres_circle" :size="getCircleSize()" :percent="getPercent()" :stroke-color="circleColor">
            <Icon class="circle_icon_inside" v-if="flag_has_mistake" type="ios-close" :size="getCircleSize()" style="color:#ff5500"></Icon>
            <Icon class="circle_icon_inside" v-else-if="getPercent()==100" type="ios-checkmark" :size="getCircleSize()" style="color:#5cb85c"></Icon>
            <span v-else style="background-color: whitesmoke;font-size:24px;color:rgb(45, 140, 240);">{{getPercent()}}%</span>
        </i-circle>
        </Tooltip>

        </div>
        
        <div id="id_preview"  key="1" v-if="is_preview">
            <ItemDetails :prop_oglas="oglas" :prop_grupe="grupe"></ItemDetails>
        </div>

        </transition-group> 

        <div v-show="is_preview" class="preview_centar animated fadeInDownBig slow delay-1s">
            <div @click="setPreview(false)" class="cnt">
                <Icon id="id_izmeni" size="30" color="#5cadff" type="md-arrow-round-back" />
                <br>
                <span > vrati se i izmeni</span>
            </div>
            <div style="width:30px;"></div>
            <div @click="modal_upload_contact=true" class="cnt">
                <Icon id="id_posalji" size="80" color="#2b85e4" type="md-cloud-upload" />
                <br>
                <span>POŠALJI PODATKE</span>
            </div>

        </div>


        <div v-show="upload_progress" class="upload_cnt animated fadeInDownBig">
            <div class="cnt">
                <h3 style="text-align:center">uploading...</h3>
                <br>
                <i-circle :size="170" :percent="upload_progress" :stroke-color="upload_progress<100?'rgb(45, 140, 240)':'#5cb85c'">
                    <Icon class="circle_icon_inside" v-if="upload_progress==100" type="ios-checkmark" :size="getCircleSize()" style="color:#5cb85c"></Icon>
                    <Icon class="circle_icon_inside" v-else-if="upload_progress==-1" type="ios-close" :size="getCircleSize()" style="color:#ff5500"></Icon>
                    <span v-else style="font-size:24px;color:rgb(45, 140, 240);">{{upload_progress}}%</span>
                </i-circle>
            </div>
        </div>
        
		<Modal class="" v-model="modal_upload_contact" :closable="false">
			<p class="modal_heder" slot="header"> </p>
			<div class="modal_main">
				<p>Unesite broj telefona ili email, na koji želite da dobijete obaveštenje kada oglas bude objavljen na sajtu (NIJE obavezno):</p>
                <Input v-model="upload_contact" 
                style="width:50%;"
                size="large" 
                :maxlength="63"
                placeholder="broj telefona ili email" />
            </div>
			<div slot="footer">
				<Button type="primary" long ghost @click="sendAjaxData()">POŠALJI OGLAS</Button>
			</div>
		</Modal>
		<Modal v-model="modal_preview" :closable="true">
			<p class="modal_heder" slot="header"> </p>
			<div class="modal_main">
				<p>Uspešno ste uneli tražene podatke. Pre nego što pošaljete oglas pogledajte kako će biti prikazan posetiocima sajta.</p>
			</div>
			<div slot="footer">
				<Button type="primary" long ghost @click="setPreview(true)"><Icon size="18" style="margin-bottom:3px" type="md-eye"/> POGLEDAJ <Icon size="18"  style="margin-bottom:3px" type="md-eye"/></Button>
			</div>
		</Modal>
		<Modal  style="font-weight:bold" v-model="modal_upload_success" :mask-closable="false" :closable="false" >
			<p class="modal_heder" slot="header"> </p>
			<div class="modal_main">
				<p>
                    Podaci su uspešno dostavljeni. 
                    <br>
                    Oglas će biti dostupan na sajtu nakon što administarator sajta to odobri (najčešće u roku od 24h). 
                    <br> 
                    Hvala na razumevanju.
                </p>
			</div>
			<div slot="footer">
				<Button type="success" long @click="terminateNewItem"> KLIKNI OVDE ZA POVRATAK NA SAJT </Button>
			</div>
		</Modal>


	</div>
</template>

<script>

import ImgInputer from 'vue-img-inputer'
import 'vue-img-inputer/dist/index.css'

import ItemDetails from "./ItemDetails.vue";

import Footer from "../components/Footer.vue"; 
export default {
	name: "NewItem",
	components: {Footer,ImgInputer,ItemDetails},
	data: function() {
		return {
            meta_title:"",
            meta_desc:"",
            meta_keys:"",
            percent_old_val: 0,
            flag_has_mistake:false,
			grupe: [
				{
                    id:0,
					pol: ["muški", "ženski"],
					uzrast: [16, 18],
					days: ["pon"],
					start: ["12:30"],
                    end: ["13:30"],
                    valid:[true],
				}
			],
			oglas: {
                grad:"",
                deo_grada:"",
				category: "",
				sub_category: "", 
                naziv: "",
                cene:"",
                adresa:"",
                koordinate: "", 
                treneri:[
                    {
                        id:0,
                        ime:"",
                        telefon:"",
                        valid:false
                    }
                ],
                /* grad:"Kraljevo",
                deo_grada:"Ribnica",
				category: "Sport",
                sub_category: "fudbal",
                naziv: "AAAA AAA", 
                cene:"10e/h",
                adresa:"primer adresa",
                koordinate: "43.714912,20.694083",
                treneri:[
                    {
                        id:0,
                        ime:"nikola pavlovic",
                        telefon:"1234567890",
                        valid:false
                    }
                ], */
                social:[
                    {
                        id:"facebook",
                        icon:"logo-facebook",
                        color:"#3b5998",
                        placeholder:"https://www.facebook.com/kraljevo.online/",
                        link:"",
                        valid:true,
                    },
                    {
                        id:"twitter",
                        icon:"logo-twitter",
                        color:"#55acee",
                        placeholder:"https://twitter.com/hashtag/kraljevo",
                        link:"",
                        valid:true,
                    },
                    {
                        id:"instagram",
                        icon:"logo-instagram",
                        color:"#dc4e41",
                        placeholder:"https://www.instagram.com/explore/locations/218260578/kraljevo/?hl=en",
                        valid:true,
                        link:""
                    },
                    {
                        id:"youtube",
                        icon:"logo-youtube",
                        color:"#b31217",
                        placeholder:"https://www.youtube.com/user/NBA",
                        valid:true,
                        link:""
                    },
                    {
                        id:"web site",
                        icon:"md-globe",
                        color:"#00ab6b",
                        placeholder:"https://www.kraljevo.rs",
                        valid:true,
                        link:""
                    },
                    {
                        id:"email",
                        icon:"md-mail",
                        color:"#0077b5",
                        placeholder:"kraljevo@gmail.com",
                        valid:true,
                        link:""
                    },
                ],
                slike:[
                    {fajl:"",id:1},
                    {fajl:"",id:2},
                    {fajl:"",id:3},
                    {fajl:"",id:4},
                    {fajl:"",id:5},
                    {fajl:"",id:6},
                    {fajl:"",id:7},
                ],
                mala_slika:"",
                video: "",
			},
            modal_upload_contact: false,
            modal_preview: false,
            modal_upload_success: false,
            curent_input_step:7,//7
            is_preview:false,
            upload_progress:0,
            notice_disabled: false,
            valid:{
                naziv:true,
                cene:true,
                adresa:true,
                video:true,
                koordinate:true,
            },
            upload_contact:""
		};
	},
	computed: {
        getAdresa(){
            if ((this.oglas.adresa.toLowerCase()).indexOf(this.oglas.grad.toLowerCase()) == -1)
                return this.oglas.adresa+" "+this.oglas.grad;
            else 
                return this.oglas.adresa; 
        },
        circleTooltip () {
            let text;
            if (this.flag_has_mistake == true) {
                text = "unosi nisu validni";
            }
            else if (this.getPercent() == 100) {
                text = 'sve OK';
            }
            else{
                text = 'uneto potrebnih informacija';
            }
            return text;
        },
        circleColor () {
            let color;
            if (this.flag_has_mistake == true) {
                color = '#ff5500';
            }
            else if (this.getPercent() == 100) {
                color = '#5cb85c';
            }
            else{
                color = '#2db7f5';
            }
            return color;
        },
		getCategories() {
			//console.log(this.categories_data);
			return this.categories_data.map(el => el.title);
			//console.log(out_data);
			//return out_data;
		},
		getSubCategories() {
			var sub_categories = [];
			this.categories_data.forEach(element => {
				if (element.title == this.oglas.category) {
					sub_categories = element.child.map(el => el.title);
				} else {
					//todo catch exeption
				}
			});
			/* console.log("sub_categories--------------");
			console.log(sub_categories); */
			return sub_categories;
		},
		getTreneri() {
			return this.getJsonParse(this.oglas.treneri);
		},
		getGmapLink() {
            var link;
            const api = 'AIzaSyDsKQ33skTTMdQkICqahwoWdj0uIB4PAHY';
            var query;
			if (this.oglas.koordinate) {
                query = this.oglas.koordinate;
            }
            else if (this.getAdresa){                
                query = encodeURIComponent(this.getAdresa);
            }
            else{
                //console.log("new item false");
                return false;
            }

            link =
                "https://maps.google.com/maps"
                +"?key="+api
                +"&z=16"
                +"&ie=UTF8"
                +"&hl=sr"
                +"&output=embed"
                +"&maptype=satellite"
                +"&q="+query;
			//console.log("new item "+link);
			return link;
		},
		getVideoLink(){
            // funkcija nece  da radi kad je stavim u methods
            var videoId = this.getYoutubeId(this.oglas.video);
            //console.log('videoId '+videoId);
            if(videoId && videoId.length==11){
                return "//www.youtube.com/embed/"+ videoId;
            }
            else if(videoId && videoId.length>11){
                return "//www.youtube.com/embed/?listType=playlist&list="+ videoId;
            }
            else return false;
        },
	},
	props: {
		categories_data: Array
	},
	methods: {
        terminateNewItem(){
            document.location.href='/';
        },
        setMetaTags(){
            this.meta_title = "pokrenise.rs - dodaj nov oglas - navedi ko, gde, kada...";
            this.meta_desc = "Dodajte nov oglas na pokrenise.rs web sajtu... brzo i jednostavno dodavanje novog oglasa... navedite šta nudite i za koga, gde, kada... dodajte slike, video...";
            this.meta_keys = this.$meta_common_keys + "dodaj oglas,dodaj,novo";
        },
        getCircleSize(){
            //alert(window.innerWidth);
            if (window.innerWidth<=700) return 70;
            else return 120;
        },
        promenaSlike(file, fileName){
            //console.log(fileName);
            //console.log(file);
            //console.log('promenaSlike');
        },
        setPreview(bool){
            this.is_preview = bool;

            if (bool) {
                this.modal_preview = false;
                this.$nextTick(() => {
                    setTimeout(() => {
                        var elem = document.getElementById("backButton");
                        if (elem) {
                            elem.style.display = "none";
                        }else{
                            console.log('elem.style.display FAIL');
                        }  
                        
                        document.getElementById('dataContainer').scrollTop = 0;          
            
                    }, 500);       
                });
            } 
            else {
                this.$nextTick(() => {
                    document.getElementById('dataContainer').scrollTop = 0;          
                });
            }
            
        },
        resetFile(slika_index){
            //console.log(this.oglas.slike);
            this.oglas.slike[slika_index].id +=10;
            this.oglas.slike[slika_index].fajl = "";
            //console.log(this.oglas.slike);
        },
       /*  getSlikeInput(){
            this.oglas.slike = [];
            for (let i = 0; i < this.slike_max_num; i++) {
                this.oglas.slike.push("");
                
            }
        }, */
        getPercent(){
            var out_data=0;
            if (this.curent_input_step == 0) {
                if (this.oglas.grad) out_data+=5;
                if (this.oglas.deo_grada) out_data+=5;
                if (this.oglas.category) out_data+=5;
                if (this.oglas.sub_category) out_data+=5;
                if (this.oglas.naziv.trim().length>3) out_data+=10;                    
            }
            else{
                out_data=(this.curent_input_step-1)*10 +30;
            
            }
            if (out_data>100) out_data = 100;

            if (out_data > this.percent_old_val) {
                var elem = document.getElementById("progres_circle");
                if (elem) {
                    elem.classList.remove("animated", "heartBeat", "slow");
                    this.$nextTick(() => {
                        elem.classList.add("animated", "heartBeat", "slow");
                    });
                }
                this.percent_old_val=out_data;
            }


            return out_data;
        },
        validateInputs(selector){
            var bool_flag = false;
            switch (selector) {
                case 'grupe':
                    bool_flag = true; //setujem na true, a ako naidje na nepravilnost onda menja na false
                    this.grupe.forEach(single_group => {
                        /////////////////////////////////////////
                        // radim ovo da bi triger.ovao da inputi primete promenu vrenosti promenljive
                        // i da shodno sa tim dodele klase
                        var temp_var = single_group.valid;
                        single_group.valid = true;
                        /////////////////////////////////////////
                        for (let i = 0; i < single_group.days.length; i++) {
                            if (single_group.days[i] && single_group.start[i] && single_group.end[i]) {
                                //alert("valid "+single_group.days);
                                temp_var[i] = true;
                            } else {
                                temp_var[i] = false;
                                bool_flag = false;
                            }   
                        }
                        single_group.valid = temp_var;
                    });   
                    
                    if (!bool_flag) {  
                         this.neispravanUnos('Nisu popunjeni svi dodati termini.');
                    }
                    else{
                        this.displayInfoNotice("Dodaj ime i prezime, kao i broj telefona, jednog ili više trenera/predavača.");
                    }
                    break;

                case 'treneri':
                    bool_flag = true;
                    this.oglas.treneri.forEach(trener => {                        
                        if (trener.ime.length >= 4 && trener.ime.length <= 32 &&
                            trener.telefon.length >= 7 && trener.telefon.length <= 10 ) {
                            trener.valid=true;
                        }
                        else{
                            bool_flag = false;
                            trener.valid=false;
                        }
                    });

                    if (!bool_flag) {   
                        this.neispravanUnos('Unesite <strong>ime</strong> od 4 do 32 karaktera, a <strong>broj telefona</strong> od 8 do 10 cifara.');
                    }
                    else{
                        this.displayInfoNotice("Upiši cene, promocije, popuste...");
                    }
                    break;

                case 'cene':
                    bool_flag = false;
                    if (this.oglas.cene.length >= 5) {
                        bool_flag = true;
                        this.valid.cene = true;
                        this.displayInfoNotice("Unesi linkove do tvojih stranica na ponudjenim socijalnim mrežama. NIJE OBAVEZNO!");
                    }
                    else{
                        this.neispravanUnos('Unesite minimum 5 karaktera u delu <strong>Cene</strong>');
                        this.valid.cene = false;
                    }                
                    break;

                case 'social':                
                    bool_flag = true;
                    this.oglas.social.forEach(element => {
                        //alert("id "+element.id+", link"+ element.link);
                        if (element.link) {
                            if (! this.validateLink(element.id, element.link)) {
                                bool_flag = false;
                                element.valid = false;
                                this.neispravanUnos("Niste uneli validan <strong>"+element.id+"</strong> link.")
                            } 
                            else{
                                element.valid = true;                                
                            } 
                        }
                        else{
                            element.valid = true;
                        }
                    });        
                    
                    if (bool_flag) {
                        this.displayInfoNotice("Sada unesite adresu na kojoj se održavaju treninzi/predavanja.");
                    }

                    break;

                case 'adresa':
                    bool_flag = false;
                    if (this.oglas.adresa.length >= 5) {
                        bool_flag = true;
                        this.valid.adresa = true;
                        this.displayInfoNotice("Odaberite BAR JEDNU sliku koja će se prikazivati na vašem oglasu.");
                    }
                    else{
                        this.neispravanUnos('Unesite minimum 5 karaktera za <strong>adresu</strong>.');
                        this.valid.adresa = false;
                    }                
                    break;

                case 'slike':
                    bool_flag = false;
                    // dovoljno je da je ucitana bar jedna slika

                    this.oglas.slike.forEach(element => {
                        //console.log(typeof element.fajl);          
                        //ili je prazan sting ili je objekat (File)              
                        if (element.fajl) {
                            bool_flag = true;
                        }
                    });
                    
                    if ( ! bool_flag) {
                        this.neispravanUnos('Unesite bar jednu <strong>sliku</strong>');
                    }
                    else{
                        this.displayInfoNotice("Unesi link do tvog youtube video klipa ili video liste. NIJE OBAVEZNO!");
                    }

                    break;
                
                case 'video':

                    //console.log('video '+this.oglas.video);

                    if(this.oglas.video == ""){
                        // nije uopste unet link
                        bool_flag = true;
                    }
                    else if (this.getVideoLink === false) {
                        bool_flag = false;
                        this.neispravanUnos('Niste uneli validan youtube link.');
                    }
                    else{
                        // link je ok
                        bool_flag = true;
                    }                
                    break;

                default:
                    break;
            }
            if (bool_flag) {
                this.flag_has_mistake = false;
            }
            else{
                this.flag_has_mistake = true;
            }
            return bool_flag;

        },
        neispravanUnos(poruka){
            this.$Notice.error({
                title: 'Neispravan unos',
                desc: poruka
            });              
        },
        nextStep(selector){
            if (selector == 'naziv') {
                //vec je provereno - ne radimo sada nista
            } else {
                if (!this.validateInputs(selector)) {
                    return;
                }
            }

            this.curent_input_step++;  
            var elem = document.getElementById('dataContainer');
            this.$nextTick(() => {
                elem.scrollBy({
                    top: 1000,
                    behavior: 'smooth'
                });          
            });
        }, 
        lastStep(){
            this.notice_disabled = true;
            let out_data = 
                // fixme todo this.validateInputs('naziv')  &&
                this.validateInputs('grupe')  &&
                this.validateInputs('treneri')&&
                this.validateInputs('cene')   &&
                this.validateInputs('social') &&
                this.validateInputs('adresa') &&
                this.validateInputs('slike')  &&
                this.validateInputs('video');

            this.notice_disabled = false;
            
            if (out_data) {                
                this.curent_input_step++; 
                this.modal_preview = true;
            }
            return out_data;
        },
        socialClick(selector, link_to_open){
            if (this.validateLink(selector, link_to_open)) {
                if (selector=='email') {
                    link_to_open = "mailto:"+link_to_open;
                }
                else{
                    if (link_to_open && link_to_open.indexOf('//') == -1) {
                        link_to_open = "//"+link_to_open;
                    }
                }
                window.open(link_to_open,'_blank');
            } else {
                this.neispravanUnos("Niste uneli validan <strong>"+selector+"</strong> link.")
            }
        },
        validateLink(selector, link_to_open){
            //console.log('---------'+selector+" ----"+link_to_open);
            
            if (typeof selector !== 'string' || typeof link_to_open !== 'string' ) {
                return false;
            }
            
            var out_data = false;
            var reg;
            link_to_open = link_to_open.toLowerCase();

            if (selector == 'web site') {
                reg = /^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$/gm;
                out_data = reg.test(link_to_open);
            } 
            else if (selector == 'email') {
                reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                out_data = reg.test(link_to_open.toLowerCase());
            }
            else{
                var allowed = [
                    selector+".com",
                    "www."+selector+".com",
                    "http://www."+selector+".com",
                    "https://www."+selector+".com",
                    "http://"+selector+".com",
                    "https://"+selector+".com",
                    "sr-rs."+selector+".com",
                    "www.sr-rs."+selector+".com",
                    "http://www.sr-rs."+selector+".com",
                    "https://www.sr-rs."+selector+".com",
                    "http://sr-rs."+selector+".com",
                    "https://sr-rs."+selector+".com",
                    ];
                allowed.forEach(element => {
                    //console.log(element);                    
                    if (link_to_open.startsWith(element)) {
                        out_data = true;
                    }
                });
            }            
            return out_data;
        },
        deleteTrener(index){
            this.oglas.treneri.splice(index, 1);
        },
        addTrener(){
            var index_last = this.oglas.treneri.length - 1;
            if (this.oglas.treneri[index_last].ime.length > 3 && this.oglas.treneri[index_last].telefon.length >= 8 ) {
                var id = Math.floor((Math.random() * 10000) + 1);
                this.oglas.treneri.push(
                    {
                        id:id,
                        ime: "", 
                        telefon: "",
                        valid:true
                    }
                );
            } else {
                this.$Message.info({
                    content: 'Unesite <strong>ime</strong> od 4 i više slova, a <strong>broj telefona</strong> sa 8 ili više cifara.',
                    duration: 5
                });  
            }

        },
        deleteGrupa(indexGrupe){
            //console.log('deleteGrupa '+indexGrupe);
            //console.log(this.grupe);
            this.grupe.splice(indexGrupe, 1);
            //console.log(this.grupe);
        },
        addGrupa(){
            //console.log('addGrupa');            
            var id = Math.floor((Math.random() * 10000) + 1);
            //console.log('id='+id);            
            this.grupe.push(
                {
                    id:id,
					pol: ["muški", "ženski"],
					uzrast: [16, 18],
					days: ["pon"],
					start: [""],
                    end: [""],
                    valid:[true]
				}
            );
        },
        deleteTermin(indexGrupe,indexTermina){
            //console.log('deleteTermin '+indexGrupe+' '+indexTermina);
            //console.log(this.grupe[0]);
            this.grupe[indexGrupe].days.splice(indexTermina, 1);
            this.grupe[indexGrupe].start.splice(indexTermina, 1);
            this.grupe[indexGrupe].end.splice(indexTermina, 1);
            this.grupe[indexGrupe].valid.splice(indexTermina, 1);
            //console.log(this.grupe[0]);
        },
        addTermin(indexGrupe){
            //console.log(this.grupe[indexGrupe].days);
            var index_last = this.grupe[indexGrupe].days.length - 1;
            if (this.grupe[indexGrupe].days[index_last] && this.grupe[indexGrupe].start[index_last] && this.grupe[indexGrupe].end[index_last]) {
                this.grupe[indexGrupe].days.push("");
                this.grupe[indexGrupe].start.push("");
                this.grupe[indexGrupe].end.push(""); 
                this.grupe[indexGrupe].valid.push(true); 
            } else {
                this.$Message.info({
                    content: 'morate popuniti dan, vreme početka i vreme završetka termina',
                    duration: 5
                });
            }
        },
		getDisabledHours(curent_hour) {
			//console.log("aaaaaaaaaaaaaaaaaaaaaaaaa");
			//console.log(curent_hour);
			try {
				curent_hour = parseInt(curent_hour.split(":")[0]);
			} catch (error) {
				curent_hour = 1;
			}
			//console.log(curent_hour);

            if (!Number.isInteger(curent_hour)) {
                curent_hour = 1;
            }
			//console.log(curent_hour);

			var out_data = Array.from(Array(curent_hour).keys());
			//console.log(out_data);
			return out_data;
		},
		setPol(index_grupe, pol_name) {
			//console.log(index_grupe);
            //console.log(pol_name);
            if (this.grupe[index_grupe].pol.length == 1) {
                this.$Message.info({
                    content: 'mora biti naveden bar jedan pol',
                    duration: 3
                });
            } else {
                const index = this.grupe[index_grupe].pol.indexOf(pol_name);
                this.grupe[index_grupe].pol.splice(index, 1);
            }
		},
		goBack() {
            if (this.curent_input_step == 0) {
                history.back();
            } else {
                this.$Modal.confirm({
                    title: 'Poruka',
                    content: "Ako napustite stranicu svi podaci koji ste do sada uneli će biti obrisani!",
                    okText: 'OK',
                    cancelText: 'cancel',
                    onOk: () => {
                        history.back();
                    },
                    onCancel: () => {
                        console.log('onCancel');
                    }
                });
            }
		},
		polColor(pol) {
			if (pol == "muški") return "geekblue";
			else return "magenta";
		},
		getPol(num) {
			if (num == 1) return ["muški"];
			else if (num == 2) return ["ženski"];
			else return ["muški", "ženski"];
        },
        getSlikeForUpload(){
            let out = [];
            this.oglas.slike.forEach(element => {
                if (element.fajl instanceof  File ) {
                    out.push(element.fajl);
                }
            });
            //console.log('getSlikeForUpload');
            //console.log(out);
            
            return out;
        },
        getSocialLinksForUpload(){
            let out = {};
            this.oglas.social.forEach(element => {
                if (element.link) {
                    out[element.id.charAt(0)] = element.link;
                }
            });

            if (!out) {
                out = "";
            }
            //console.log('getSocialLinksForUpload');
            //console.log(out);
            
            return out;
        },
        getDataForUpload(){
            const out_data = Object.assign({}, this.oglas);
            out_data.treneri.forEach(element => {
                delete element.id;
                delete element.valid;
            });


            out_data.social = this.getSocialLinksForUpload();
            out_data.slike = this.getSlikeForUpload();



            let grupe_out_niz = [];
            this.grupe.forEach(element => {
                let obj={};

                obj.start = element.start;
                obj.end = element.end;
                obj.uzrast = element.uzrast;

                obj.days = [];                
                element.days.forEach(dan => {
                    obj.days.push( this.getDays().indexOf(dan) + 1 );
                });

                if (element.pol.length == 2) {
                    obj.pol = 0;
                } else {
                    if (element.pol[0] == "muški") obj.pol = 1;
                    if (element.pol[0] == "ženski") obj.pol = 2;
                }

                grupe_out_niz.push(obj);
            });

            out_data.grupe = grupe_out_niz;

            //console.log("getDataForUpload");
            //console.log(out_data);
            return out_data;

        },
		sendAjaxData() {
            this.modal_upload_contact=false;
            const formData = new FormData();
            formData.append("action","uploadOglas");
            formData.append("upload_contact",this.upload_contact);
            buildFormData(formData, this.getDataForUpload());
            //console.log("formData");
            //console.log(formData);

            var self = this;
			function response() {
				if (ajax.readyState == 4) {
					if (ajax.status == 200) {
                        var result = JSON.parse(ajax.responseText);
                        
						if (result["status"] === 0) {                            
                            self.upload_progress=100;
							self.$Notice.success({
                                title: 'Poruka',
                                desc: result['msg'],
                                duration: 5
                            });
                            self.modal_upload_success=true;
                        }                         
                        else {
                            self.upload_progress=-1;
							self.$Notice.warning({
								title: "Poruka",
								desc: result["msg"],
								duration: 5
                            });
                            console.log(result.data);                            
						}
                    }
                    else{
                        //greska  
                        self.upload_progress=-1;   
                        self.$Notice.error({
                            title: "Poruka",
                            desc: "Nije moguće povezivanje sa serverom - pokušajte kasnije!",
                            duration: 5
                        });  
                    }

                    setTimeout(() => {
                        self.upload_progress=0;
                    }, 2000);
				}
            }
            
            var ajax = new XMLHttpRequest();
            var upload_time_start;
            /* ajax.onprogress = function (e) {
                if (e.lengthComputable) {
                    console.log("onprogress "+e.loaded+  " / " + e.total)
                }
            } */
            ajax.onloadstart = function (e) {
                self.upload_progress=1;
                upload_time_start = performance.now();
                //console.log("start")
            }
            ajax.onloadend = function (e) {
                //console.log("end")
            } 
            ajax.upload.addEventListener("progress", function(evt){
                var value;
                if (evt.lengthComputable) {   
                    value = Math.round(100 * evt.loaded / evt.total);  
                    if(value==10 && (performance.now()-upload_time_start) > 20000) {
                        upload_time_start = performance.now(); //da bi izbegao da ponovo porikaze notice kada je uzastopno value==10 
                        self.$Notice.warning({
                            title: "Poruka",
                            desc: "Slanje slika je usporeno (velike slike ili spor internet) - ukoliko upload oglasa ne uspe, onda pokušajte ponovo <strong>sa manjim brojem slika</strong>, "+
                            "a dodatne slike možete kasnije poslati administratoru na mejl/viber...",
                            duration: 100,
                        }); 
                    }
                    self.upload_progress = value<98?value:98;
                    //console.log("add upload event-listener " + value+"%");
                }
            }, false);

			ajax.onreadystatechange = response;
			ajax.open("POST", this.$controller_path);
			//ajax.setRequestHeader("Content-Type", "application/json");
            
            ajax.send(formData);
            
		},
		convToArray(string) {
			return string.split(", ");
		},
		getShortTime(string) {
			var out = string.substring(0, string.indexOf(":", 3));
			return out ? out : string;
		},
		getDays() {
			return ["pon", "uto", "sre", "čet", "pet", "sub", "ned"];
		},
		getDay(num) {
            return this.getDays()[num + 1];
        },
		setData(oglas, grupe) {
			console.log("-----------");
			console.log(oglas);
			console.log(grupe);

			this.oglas = oglas;
			this.grupe = grupe;

			//menjam ovde jer ne moze da se pri v-for pozove metoda sa parametrima
			this.grupe.forEach(element => {
				element.pol = this.getPol(element.pol);
				element.days = this.convToArray(element.days);
				element.start = this.convToArray(element.start);
				element.end = this.convToArray(element.end);
			});
			//console.log(this.grupe);
		},
		getYoutubeId(url) {
            if (typeof url !== 'string') {
                return false;
            }

            var regExp = /^.*(list=|youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
            var match = url.match(regExp);
            
            if (match && match[2].length >= 11) {
                return match[2];
            } else {
                return false;
            }
        },
		getJsonParse(json_obj) {
			var out_data;
			try {
				out_data = JSON.parse(json_obj);
			} catch (e) {
				out_data = false;
			}
			return out_data;
        },
        displayInfoNotice(msg, sec){
            if (this.notice_disabled) return;
            this.$Notice.info({
                title: 'Poruka',
                desc: msg,
                duration: sec ? sec: 7
            });
        },
        validateName(){
            if (this.oglas.naziv.trim().length < 4 && this.oglas.naziv.trim().length>=64) {
                this.neispravanUnos('Naziv <strong>kluba/usluge</strong> mora da sadrži od 4 do 63 karaktera.');
                this.valid.naziv = false;
                this.flag_has_mistake = true;
            }   

            if(window.location.href.indexOf("localhost:8080") != -1) {
                this.valid.naziv = true;
                this.flag_has_mistake = false;
                this.displayInfoNotice("Sada dodaj termine za trening/časove za svaku grupu posebno.");
                this.nextStep('naziv');
                return;  
            }
                                    
            var ajax = new XMLHttpRequest();
            var self=this;
            function response(){
                if(ajax.readyState == 4){
                    if(ajax.status == 200){
                        var result = JSON.parse(ajax.responseText);	
                        //console.log("JSON.parse(ajax.responseText)");				
                        //console.log(result);			
                        if(result['status']===0){
                            //console.log("result.data "+result.data);
                            self.valid.naziv = true;
                            self.flag_has_mistake = false;
                            self.displayInfoNotice("Sada dodaj termine za trening/časove za svaku grupu posebno.");
                            self.nextStep('naziv');
                        }
                        else{
                            self.$Notice.warning({
                                title: 'Poruka',
                                desc: result['msg'],
                                duration: 5
                            });
                            self.valid.naziv = false;
                            self.flag_has_mistake = true;                            					
                        }
                    }    
                    else{
                        self.$Notice.warning({
                            title: 'Poruka',
                            desc: ajax.status + ": Nije moguće povezivanje sa serverom - pokušajte kasnije.",
                            duration: 5
                        });
                        self.valid.naziv = false;
                        self.flag_has_mistake = true;
                    }                  
                }
            }
            ajax.onreadystatechange = response;
            ajax.open('POST',this.$controller_path);
            ajax.setRequestHeader('Content-Type','application/json');

            ajax.send(JSON.stringify({
                action:'ValidateNaziv', 
                naziv:self.oglas.naziv,
                sub_category:self.oglas.sub_category,
            }));
        }
	},
	beforeUpdate: function() {
		//console.log('HOOK -ItemDetails- beforeUpdate');
	},
	created: function() {
        this.setMetaTags();
        this.$Modal.info({
            title: 'Poruka',
            content: "Na ovoj stranici možete besplatno uneti nov oglas, koji će se prikazaviti na <strong>pokrenise.rs</strong> sajtu.",
            onOk: () => {
                this.displayInfoNotice("Prvo odaberite grad i kategoriju kojoj oglas pripada, a zatim unesite naziv kluba/škole/radionice...",10);
            },
        });
    },
	mounted: function() {
        /*
        document.getElementById("id_posalji").addEventListener("mouseover", function() {
            this.classList.add("animated","rubberBand");
        });
        document.getElementById("id_posalji").addEventListener("mouseleave", function() {
            this.classList.remove("animated","rubberBand");
        });
        document.getElementById("id_izmeni").addEventListener("mouseover", function() {
            this.classList.add("animated","rubberBand");
        });
        document.getElementById("id_izmeni").addEventListener("mouseleave", function() {
            this.classList.remove("animated","rubberBand");
        });
        */

         
        /* window.addEventListener('hashchange', function() {
            alert(1234567);
            return "Are you sure you want to navigate away?";
        }, false);

        window.onbeforeunload = function() {
            alert(1234567);
            return "Are you sure you want to navigate away?";
        } */
    }
};

function buildFormData(formData, data, parentKey) {
    //console.log('inside buldformdata');
    //console.log(data);
    
  if (data && typeof data === 'object' && !(data instanceof Date) && !(data instanceof File)) {
    Object.keys(data).forEach(key => {
      buildFormData(formData, data[key], parentKey ? `${parentKey}[${key}]` : key);
    });
  } else {
    const value = data==null ? '' : data;

    formData.append(parentKey, value);
  }
}

</script>

<style scoped>
ul .day {
	width: 40px;
	display: inline-block;
}
.timeline_item ul {
	font-size: 1.5em !important;
	list-style-type: none;
	list-style-position: inside;
}
.timeline_item:hover {
	background-color: rgba(0, 0, 0, 0.15);
}
.timeline_item {
	background-color: unset;
}
h3:first-letter {
	text-transform: uppercase;
}
.heders {
	/* text-align: center; */
	margin-top: 20px;
	margin-bottom: 15px;
	/*  vertical-align: middle;  */
}
.heders > div {
	margin-bottom: 30px;
}
h2 {
	color: rgba(255, 0, 0, 0.5);
	font-size: 2em;
	letter-spacing: 3px;
	text-transform: capitalize;
	font-weight: 700;
	text-align: center;
}
h1 {
	font-size: 3em;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;

	text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
		1px 4px 1px #919191, 1px 5px 1px #919191,
		1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2);
}
h1:hover {
	text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
		1px 4px 1px #919191, 1px 5px 1px #919191, 5px 6px 1px #919191,
		5px 7px 1px #919191, 5px 8px 1px #919191, 5px 9px 1px #919191,
		5px 10px 1px #919191, 5px 18px 6px rgba(16, 16, 16, 0.4),
		5px 22px 10px rgba(16, 16, 16, 0.2), 5px 25px 35px rgba(16, 16, 16, 0.2),
		5px 30px 60px rgba(16, 16, 16, 0.4);
}
h3 {
	font-size: 1.5em;
	text-decoration: underline;
	font-style: italic;
}
.root {
	/* width: 95%; */
	color: whitesmoke;
}
/* .side_container {
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
} */
iframe {
	box-shadow: 0px 0px 10px 1px black;
}
.container_grupe,
.container_persons,
.container_cena,
.container_grupe0,
.container_persons0,
.container_cena0 {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
    align-items: center;
}
/* .container_grupe0,
.container_persons0{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    align-items: center;
} */
.single_grupa,
.single_person,
.single_cena {
	margin: 5px;
	border: 1px dotted white;
	border-radius: 5px;
	padding: 5px;
}
.single_grupa{
    position: relative;
}
.single_grupa:hover {
	border: 1px solid red;
}
.single_person:hover {
	border: 1px solid rgb(0, 168, 0);
}
.single_cena:hover {
	border: 2px solid goldenrod;
	font-weight: bold;
}
.single_person,
.single_cena,
.container_kontakt {
	font-size: 1.5em !important;
}
.hour {
	margin-right: 7px;
}
.hour::after {
	content: "h";
}
#backButton_newItem {
	margin-top: 20px;
}
#backButton_newItem:hover {
	border-style: solid !important;
	font-weight: bold;
	color: whitesmoke !important;
	border-color: whitesmoke !important;
}
.media_button {
	/* padding: 5px 10px !important; */
	color: whitesmoke;
	border-color: whitesmoke !important;
}
.termini{
    /* margin-top: 3px; */
    margin-bottom: 5px;    
}
.container_delete_grupa{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 5px;    
}
.delete_icon{
    color: red;
    font-size: 20px;
	text-shadow: 1px 2px 5px black;
    transition: all 0.5s;
    margin-left: 20px;
}
.delete_icon:hover{
    transform: scale(1.2);
}
.social_item{
    margin-top: 10px;
}
.social_input{
    width:80%;
    max-width:500px; 
}
.proceed_button{
    text-align:center;
    margin-top:10px
}
iframe{
    width:90%;
    max-width: 400px;
    min-width: 200px;
    height: 200px;
}
/* .container_cena textarea{
    width: 350px!important;
} */
/* #progres_circle{
    width:50px;
} */
#progres_circle_container{
    position: fixed;
    top: 10%;
    right: 25px;
    z-index: 0;
    transition: transform 1s ease;
}
.progres_circle_container_finish{ 
    z-index: 2000!important;
    transform: translateY(50vh) rotate(360deg) scale(1.2);
}
.progres_circle_container_finish *{ 
    opacity: 1!important;
}
#progres_circle, #id_izmeni,  #id_posalji {
    opacity: 0.5;
    transition: all 0.8s ease;
    font-weight:bold;
}
#progres_circle:hover, .cnt:hover #id_izmeni, .cnt:hover #id_posalji{    
    opacity: 1;
    transform: rotate(360deg) scale(1.2);
}
#last_timeline{
    height: 1px;
}
#last_timeline:hover {
	background-color: unset!important;
}
.select_header{
    width: 150px;
}
.span_header{
    margin-left:10px;
    margin-right:10px;
}
.div_inline{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.invalid_input{
    border: 5px solid;
    border-image: repeating-linear-gradient(
        45deg,
        red,
        transparent 10px,
        transparent 10px,
        white 20px
    ) 20;
    transform: scale(1.1);
    z-index: 999;
}
.invalid_input:hover{
    border: 5px solid;
    border-image: repeating-linear-gradient(
        45deg,
        red,
        transparent 10px,
        transparent 10px,
        blue 20px
    ) 20;
}
.slika_cont{
    display: inline-block;   
    margin: 5px;
}
.slika{    
	box-shadow: 0px 0px 10px 1px black;
    transition: all 0.8s ease;
    z-index: 1;
}
.slika:hover{
    transform: scale(1.1);
	box-shadow: 0px 0px 1px 1px black;
    z-index: 2;
}
.divider{
    margin-bottom: 0!important;
}
.preview_centar{
    position: fixed;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0,3;
    transition: all 1s ease;
    padding:20px;
}
@media screen and (max-width: 700px) {
    .preview_centar{
        display: flex;
        flex-direction: column-reverse;
    } 
    .preview_centar>div:first-child{
        margin-top: 20px;
    }
} 
.preview_centar>div{
    display:inline-block;
    text-align:center;
    cursor: pointer;
}
.preview_centar:hover{
    opacity: 0,8;
    transform-origin: 0 0; 
    transform: scale(1.7) translate(-50%, -50%);
}
.cnt:hover span{
    text-decoration-line: underline; 
}
.upload_cnt{
    z-index: 10;
    position:fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_main{
    color: #2d8cf0;
    font-size: 16px;             
}
.modal_heder{
    background-image: url("../assets/logo.png");
    background-size:     contain;                     
    background-repeat:   space;
    background-position: center center;
}
</style>

