<template>
	<div id="app" class="bg_image">
		<SidebarMenu
            id="responsive_menu"
			@collapse="onCollapse"
			:menu="menu"
			:showOneChild="true"
			:collapsed="is_collapsed"
			theme="white-theme"
			:width="menu_width"
			class="animated"
			:class="{opacity075:!is_collapsed&&!display_hamb, bg_image:display_hamb}"
		></SidebarMenu>
		<div id="dataContainer" :style="{overflow: hamburger_opened?(display_hamb?'hidden':'auto'):'auto'}">
			<Header :hamburger_opened_prop="hamburger_opened" :display_hamb_prop="display_hamb" @clickedOnHeaderImg="openMenuItem(arguments[0])" @hamburgerClick="hambClicked(arguments[0])"></Header>
			<Divider style="margin: 5px 0;" dashed></Divider>
            <transition appear @after-enter="afterEnter"  @before-leave="beforeLeave" enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOutRight">
                <router-view :key="$route.fullPath"></router-view>				
            </transition> 
			<!-- <Footer></Footer> -->
		</div>
        <!-- <div id="share_container"> -->
            <div id="share_icon_cnt">
                <img src="./assets/share-button.png" @click="toggleShareButons()" class="animated" id="share_icon" alt="share">
            </div>
            <div id="share_items" v-show="show_share_items">
                <VueGoodshareFacebook
                    class="animated delay-1"
                    :page_url="getCurentUrl()"
                    title_social="Facebook"
                    button_design="gradient"
                    has_icon/>
                <VueGoodshareTwitter
                    class="animated delay-2"
                    :page_url="getCurentUrl()"
                    title_social="Twitter"
                    button_design="gradient"
                    has_icon/>
                <VueGoodshareGooglePlus
                    class="animated delay-3"
                    :page_url="getCurentUrl()"
                    title_social="GooglePlus"
                    button_design="gradient"
                    has_icon/>
                <VueGoodshareLinkedIn
                    class="animated delay-4"
                    :page_url="getCurentUrl()"
                    title_social="LinkedIn"
                    button_design="gradient"
                    has_icon/>
                <VueGoodsharePinterest
                    class="animated delay-5"
                    :page_url="getCurentUrl()"
                    title_social="Pinterest"
                    button_design="gradient"
                    has_icon/>
                <VueGoodshareReddit
                    class="animated delay-6"
                    :page_url="getCurentUrl()"
                    title_social="Reddit"
                    button_design="gradient"
                    has_icon/>
                <VueGoodshareEmail
                    class="animated delay-7"
                    :page_url="getCurentUrl()"
                    title_social="Email"
                    button_design="gradient"
                    has_icon/>
                <VueGoodshareViber
                    class="animated delay-8"
                    :page_url="getCurentUrl()"
                    title_social="Viber"
                    button_design="gradient"
                    has_icon/>
                <VueGoodshareWhatsApp
                    class="animated delay-9"
                    :page_url="getCurentUrl()"
                    title_social="WhatsApp"
                    button_design="gradient"
                    has_icon/>
            </div>
        <!-- </div> -->
	</div>
</template>

<script>
//import HelloWorld from "./components/HelloWorld.vue";
import Header from "./components/Header.vue";
/* import Footer from "./components/Footer.vue"; */
import { SidebarMenu } from "vue-sidebar-menu";
/* umesto official css:
import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'
uzimam svoj (prilagodjen):*/
import "./sidebar.css";
import "./responsive_menu.css";

import VueGoodshareFacebook from "vue-goodshare/src/providers/Facebook.vue";
import VueGoodshareTwitter from "vue-goodshare/src/providers/Twitter.vue";
import VueGoodshareGooglePlus from "vue-goodshare/src/providers/GooglePlus.vue";
import VueGoodshareLinkedIn from "vue-goodshare/src/providers/LinkedIn.vue";
import VueGoodsharePinterest  from "vue-goodshare/src/providers/Pinterest.vue";
import VueGoodshareReddit from "vue-goodshare/src/providers/Reddit.vue";
import VueGoodshareEmail from "vue-goodshare/src/providers/Email.vue";
import VueGoodshareViber from "vue-goodshare/src/providers/Viber.vue";
import VueGoodshareWhatsApp from "vue-goodshare/src/providers/WhatsApp.vue";

export default {
	name: "App",
	components: {
		Header,
		/* Footer, */
		SidebarMenu,
        VueGoodshareFacebook,
        VueGoodshareTwitter,
        VueGoodshareGooglePlus,
        VueGoodshareLinkedIn,
        VueGoodsharePinterest,
        VueGoodshareReddit,
        VueGoodshareEmail,
        VueGoodshareViber,
        VueGoodshareWhatsApp,
	},
	data: function() {
		return {
			menu: [],
			menu_width: "300px",
			menu_category: [],
			menu_subcategory: [],
            is_collapsed: false,
            menu_el: {},
            display_hamb: false,
            hamburger_opened:false,
            show_share_items:false,
            share_anim_in_progress: false
		};
	},
	computed: { 
    },
	watch: {
        hamburger_opened(newVal, oldVal){
            /* console.log("hamburger_opened: newVal-"+newVal+" oldVal "+oldVal); */
            //console.log("hamburger_opened APP: "+newVal);
            
        },        
        /* $route (to, from){
            if (this.hamburger_opened) {
               this.hamburger_opened = false;
               console.log('hamburger_opened = false');
            }
        } */
    },
	methods: {  
        toggleShareButons(){
            this.share_anim_in_progress = true;
            var list = document.querySelectorAll("#share_items .animated");
            list.forEach(element => {
                element.classList.remove("fadeInDownBig");
                element.classList.remove("rollOut"); 
                if (this.show_share_items) {
                    element.classList.add("rollOut");
                } else {
                    element.classList.add("fadeInDownBig");
                }
            });

            if (this.show_share_items) {
                setTimeout(() => {
                    this.show_share_items=!this.show_share_items;
                    this.share_anim_in_progress = false;
                }, 1000);
            } else {
                this.show_share_items=!this.show_share_items;
                this.share_anim_in_progress = false;
            }

            /* this.$nextTick(() => {
                }); */
            
        },
        getCurentUrl(){
            //let out = this.$route.query.page;
            let out = window.location.href;
            //console.log(out);            
            return out;
        },    
        beforeLeave: function () {
            //console.log('beforeLeave');  
            if (this.display_hamb) {
                //console.log('beforeleave');
                this.hamburger_opened = false;  
                this.hambClicked(false);              
            }
        }, 
        afterEnter: function () {
            //console.log('afterEnter');            
            /* setTimeout(() => {//todo
                document.getElementById('app').scrollIntoView();
            }, 1200); */
        },  
        hambClicked(is_opened){
            //console.log(is_opened);
            this.menu_el.classList.remove("fadeInDownBig","fadeOutUpBig");
            if (is_opened) {
                this.menu_el.style.display = "block";
                this.menu_el.classList.add("fadeInDownBig");                
            }
            else{
                this.menu_el.classList.add("fadeOutUpBig");
                setTimeout(() => {
                    this.menu_el.style.display = "none";
                }, 1000);
            }
            this.hamburger_opened = is_opened;  
            
        },
		openMenuItem(item) {
            if (item.screenX &&item.screenX != 0 
                &&item.screenY &&item.screenY != 0) {	
                //mause click on menu item (it is ok...)		
                return;
			}

			//programmig click, string passed as argument (click passed from header image)
			else if (typeof item === "string") {
				if (this.is_collapsed) {
                    //first show menu... if is colapsed
					this.is_collapsed = false;
				}

				//wait for next render pass, and then render and apply click
				this.$nextTick(() => {
					item = parseInt(item);
					this.menu_category[item].click();
				});
			}
		},
		onCollapse(is_collapsed_parametar) {
			this.is_collapsed = is_collapsed_parametar;
			/* console.log("is_collapsed:" + this.is_collapsed); */
			document
				.querySelector(".v-sidebar-menu .collapse-btn i")
				.classList.toggle("rotate180");

			var elem = document.querySelector(".vsm-item.position_bottom");
			if (this.is_collapsed) {
				elem.classList.remove("fadeInDown");
			} else {
				elem.classList.add("fadeInDown");
			}
        },
        getMainHeight(){              
            var element = document.getElementsByClassName("fixedclass")[0];
            var height = -1;
            if (element) {
                height = element.offsetHeight;
            }       
            //console.log(height);
            return height;
        },
        getFooterTop(){
            var top = this.getMainHeight();
            if (top < window.innerHeight) {
                top = window.innerHeight - 30;
            } else {
                top += 150;
            }            
            top += "px";
            //console.log(top);            
            return top;
        },
        resizeHandler(){            

            if (window.innerWidth<=700) {
                //console.log("resized to "+window.innerWidth);
                this.is_collapsed = false;
                this.display_hamb = true;
            } 
            else{                
                this.display_hamb = false;
            }           
        }
    },
	created: function() {
        //console.log('HOOK -App- created');  
        this.menu = getMenuData(true);

        if (window.innerWidth<=700) {            
            //console.log("size "+window.innerWidth);
            this.is_collapsed = false;
            this.display_hamb = true;
        }
        window.addEventListener("resize", this.resizeHandler);
        
    },
    beforeUpdate:function () {
        //console.log('HOOK -App- beforeUpdate'); 
        var poruka=window.PORUKA;
        if (poruka) {
            this.$Message.error({
                    content: poruka,
                    duration: 7,
                    closable: true
                });
            window.PORUKA=""; 
        }        
    },
    updated:function () {
        //console.log('HOOK -App- updated'); 
    },
	mounted: function() {
        //console.log('HOOK -App- mounted');  
		this.menu_category = document.querySelectorAll(".vsm-item.first-item > a");
        
        //fixme todo neznam dall ovo uopste radi
        this.menu_category.forEach(element => {
            //console.log('111');
            element.addEventListener("click", function() {
                //console.log('222');
                setTimeout(() => {
                    document.querySelectorAll(".vsm-dropdown a").forEach(el => {
                        //console.log('333');
                        el.addEventListener("click", function() {
                            this.hamburger_opened =false;
                            //console.log('this.hamburger_opened =false;');
                        });
                    });
                }, 50);
            });
        });
        //this.menu_subcategory = document.querySelectorAll(".vsm-dropdown a");
        
        document.querySelector(".v-sidebar-menu .collapse-btn").innerHTML =
            '<i class="ivu-icon ivu-icon-ios-arrow-back"></i>';
        
        var list_el = document.querySelectorAll(".vsm-item.first-item");
        var last_el = list_el[list_el.length - 1];
        last_el.classList.add("position_bottom", "animated", "slower");
        
        //fixme todo neznam dall ovo uopste radi
        document.querySelector(".position_bottom a").addEventListener("click", function() {
            this.hamburger_opened =false;
            //console.log('this.hamburger_opened =false;  position_bottom');
        });
    		 
        this.menu_el =  document.getElementById("responsive_menu");     
        
        //fixme todo ovo ne radi
        this.$Loading.config({            
            height: 15
        });


        var share_icon = document.getElementById("share_icon");
        setInterval(() => {
            share_icon.classList.remove("flash");
            setTimeout(() => {
                //console.log('next tick');
                share_icon.classList.add("flash");
            }, 1000);
        }, 10000);


        var self = this;
        document.getElementById("dataContainer").addEventListener("touchstart", function() {
            // todo fixme
            if (self.show_share_items && !self.share_anim_in_progress) {
                self.toggleShareButons();
            }
        });
        document.getElementById("share_items").addEventListener("mouseleave", function() {
            if (document.getElementById("share_icon_cnt").matches(':hover') == false) {
                self.toggleShareButons();
            }
        });
    }
};

function getMenuData(is_for_sidebar_bool) {
    var menu_data = [];
    
    if (is_for_sidebar_bool) {
        menu_data.push(
            {
                header: true,
                title: "Odaberi",
                /* icon: "fas fa-map-signs", */
                visibleOnCollapse: false
            }
        );        
    }

    var niz_sport =[
        ["fudbal", "fas fa-futbol"],
        ["odbojka", "fas fa-volleyball-ball"],
        ["košarka", "fas fa-basketball-ball"],
        ["tenis", "fas fa-baseball-ball"],
        ["biciklizam", "fas fa-bicycle"],
        ["planinarenje", "fas fa-hiking"],
        ["paraglajding", "fas fa-paper-plane"],
        ["plivanje", "fas fa-swimmer"],
        ["gimnastika", "fas fa-street-view"],
        ["karate", "fas fa-user-ninja"],
        ["fitnes", "fas fa-heartbeat"],
        ["aerobik", "fas fa-female"],
        ["balon sale", "fas fa-rainbow"],
        ["igraonice", "fas fa-baby"], /* "fas fa-child"*/
        ["ostalo", "fas fa-external-link-square-alt"],
    ];
    var niz_umetnost =[
        ["KUD", "fas fa-heartbeat"],
        ["pevanje", "fas fa-microphone-alt"],
        ["ples", "fas fa-shoe-prints"],
        ["gluma", "fas fa-hand-holding-heart"],
        ["ostalo", "fas fa-external-link-square-alt"],
    ];
    var niz_jezici =[
        ["engleski", "fas fa-comments"],
        ["nemački", "fas fa-comment"],
        ["italijanski", "far fa-comments"],
        ["ostalo", "fas fa-external-link-square-alt"],
    ];
    var niz_nastava =[
        ["matematika", "fas fa-superscript"],
        ["fizika", "fas fa-tachometer-alt"],
        ["hemija", "fas fa-atom"],
        ["ostalo", "fas fa-external-link-square-alt"],
    ];
    var niz_obuka =[
        ["računarstvo", "fas fa-laptop"],
        ["programiranje", "fas fa-code"],
        ["ostalo", "fas fa-external-link-square-alt"],
    ];
    //Add the contents of one array to another
    menu_data.push.apply(menu_data, 
    [		
		{
            title: "Sport",
			icon: "fas fa-running",
			child: nizToObj_menu(niz_sport)
		},
		{
            title: "Umetnost",
			icon: "fas fa-music",
			child: nizToObj_menu(niz_umetnost)
		},
		{
            title: "Strani jezici",
			icon: "fas fa-comments",
			child: nizToObj_menu(niz_jezici)
		},
		{
			title: "Dodatna nastava",
			icon: "fas fa-user-graduate",
			child: nizToObj_menu(niz_nastava)
		},
		{
			title: "Obuke i kursevi",
			icon: "fas fa-chart-line",
			child: nizToObj_menu(niz_obuka)
		}
    ]);

    if (is_for_sidebar_bool) {
        menu_data.push( 
            {
                icon: "fas fa-puzzle-piece",
                href: {name:'dodaj_oglas', params:{categories_data:getCategories()}},
                disabled: false,
                title: "dodaj nov oglas"
            }
        );        
    }
    //console.log("getMenuData--------------");
    //console.log(menu_data);    
	return menu_data;
}
function nizToObj_menu(niz) {
    var out=[];
    niz.forEach(element => {
        out.push(
            {
                href: {name:'sub_category', params:{sub_category:element[0]}},
                title: element[0],
                icon: element[1]
            }
        );
    });
    return out;
}

function getCategories(){
    var out_data = getMenuData(false);
    //console.log("getCategories--------------");
    //console.log(out_data);
    return out_data;
}
</script>

<style>
/* #share_container{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
} */

.animated.delay-1 {animation-delay: 50ms;}
.animated.delay-2 {animation-delay: 100ms;}
.animated.delay-3 {animation-delay: 150ms;}
.animated.delay-4 {animation-delay: 200ms;}
.animated.delay-5 {animation-delay: 250ms;}
.animated.delay-6 {animation-delay: 300ms;}
.animated.delay-7 {animation-delay: 350ms;}
.animated.delay-8 {animation-delay: 400ms;}
.animated.delay-9 {animation-delay: 450ms;}
#share_icon_cnt{
    position: fixed;
    bottom: 15px;
    right: 10px;
    z-index: 9;
}
#share_icon{
    width: 100px;
    cursor: pointer;
    transition: transform 0.5s ease;
    opacity: 0.5;
}
#share_icon:hover{
    opacity: 1;
    transform: rotate(360deg) scale(1.2);
}
@media screen and (max-width: 700px) {
    #share_items{
        width: unset!important;
    }
}
#share_items{
    width: 200px;
    text-align: right;
    text-align: -webkit-right;
    margin: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#share_items .animated{
    width: 120px;
}
.single_grupa .ivu-tag{
    cursor: default;
}
.card-back .details span{
	white-space: nowrap!important;
	text-overflow: ellipsis!important;
	overflow: hidden!important;
}

.card-back .ivu-alert-with-desc .ivu-alert-icon{
    left: 0px!important;
}
.ivu-timeline-item .ivu-timeline-item-head {
	background-color: transparent !important;
	font-size: 25px !important;
}
.lightbox {
	z-index: 10 !important;
}
.lightbox__thumbnail img {
	box-shadow: 0px 0px 10px 1px black;
}
.lightbox__close, .lightbox__arrow{
    font-size: 4rem!important;
    z-index: 2!important;
    text-shadow: 5px 5px 3px black;
}
.lightbox__element{
    z-index: 1!important;
}
.lightbox__image img{
    display: block;
    margin: 0 auto;
    max-width: 100% !important ;
    max-height: 100vh !important ;
    width: unset !important ;
}
.position_bottom {
	position: relative !important;
	top: 50px;
	text-align: center;
}
.position_bottom span {
	font-weight: bold !important;
	text-shadow: 2px 2px 10px black;
}
/*********nece da radi u filteru pa sam definisao ovde*********/
.heders .ivu-select-selected-value,
.heders .ivu-select-placeholder,
.heders .ivu-select-arrow {
	color: whitesmoke !important;
    font-weight: bold!important;
}
.heders .ivu-select-selection {
	background-color: transparent !important;
}
/***********************/
.opacity075 {
	opacity: 0.75 !important;
}
html,
body {
	margin: 0px;
	padding: 0px;
}
* {
	box-sizing: border-box;
}
main {
	margin-top: 20px;
	margin-bottom: 10px;
}

.v-sidebar-menu {
	z-index: 1;
}

#app {
	display: flex;
	height: 100vh;
	overflow: hidden;
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #000000;
	/* background: linear-gradient(
		135deg,
		rgba(147, 206, 222, 1) 0%,
		rgba(117, 189, 209, 1) 41%,
		rgba(73, 165, 191, 1) 100%
    ); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* padding: 5px; */
}
.bg_image{
    background-image: url("./assets/background_default.jpg");
}
#dataContainer {
	overflow-y: auto;
	width: 100%;
	position: relative;
	padding: 7px;
}
.myBackground .ivu-modal-content{
    background-image: url("./assets/background_mobile.jpg");
    background-color: unset!important;
}
/* .ivu-modal-content{
    background-color: #62bbd3;
    background-image: linear-gradient(30deg, #80c9dd 12%, transparent 12.5%, transparent 87%, #80c9dd 87.5%, #80c9dd), linear-gradient(150deg, #80c9dd 12%, transparent 12.5%, transparent 87%, #80c9dd 87.5%, #80c9dd), linear-gradient(30deg, #80c9dd 12%, transparent 12.5%, transparent 87%, #80c9dd 87.5%, #80c9dd), linear-gradient(150deg, #80c9dd 12%, transparent 12.5%, transparent 87%, #80c9dd 87.5%, #80c9dd), linear-gradient(60deg, #d5eaf0 25%, transparent 25.5%, transparent 75%, #d5eaf0 75%, #d5eaf0), linear-gradient(60deg, #d5eaf0 25%, transparent 25.5%, transparent 75%, #d5eaf0 75%, #d5eaf0);
    background-size: 40px 70px;
    background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
} */
/*
.devTeamModal .ivu-modal-content{
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffe0, #0073d1);
    background-color: rgb(0, 108, 250);
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
  }
  */

/********************** scrollbar ************/
#dataContainer::-webkit-scrollbar {
	width: 10px;
}
#dataContainer::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}
#dataContainer::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
}
#dataContainer::-webkit-scrollbar-thumb:hover {
	background: rgb(245, 245, 245);
}
/***********************************************/
.media_button .ivu-icon{
    font-size: 20px !important;
}
.fixedclass{
    position: absolute !important;
    margin: 5px;
    width: 95%;
    /* z-index: 1; */
}

@media screen and (max-width: 700px) {
    #dataContainer::-webkit-scrollbar {
        width: 5px;
    }
    .bg_image{
        background-image: url("./assets/background_mobile.jpg");
    }
    .fixedclass{
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    .fixedclass{
        width: 92%;
    }
}

.ivu-timeline-item .ivu-timeline-item-head {
    font-size: 35px !important;
}
.termin_input .ivu-input.ivu-input-default:nth-child(3n){
    display: none;
}
.termin_input .ivu-select-selected-value,
.termin_input .ivu-select-arrow {
	color: black !important;
    font-weight: normal!important;
}


#youtube_input_aside,#youtube_input_aside > *{
    width: 100%!important;
}
#responsive_menu{
    z-index: 10;
}
.img-inputer__err{
    /* newItem */
    bottom:unset!important;
}
.ivu-loading-bar-inner{
    height: 5px!important;
}
</style>
