#responsive_menu{
    display: block;        
}
@media screen and (max-width: 700px) {
	#responsive_menu{
        position: fixed;
        top: 60px;
        width: 100% !important;
        opacity: 1 !important;
        display: none;  
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;    
        padding-top: 10px;      
        padding-bottom: 100px;         
    }
    #responsive_menu .vsm-list{
        background: transparent	;
        font-size: 24px !important; 
        overflow: scroll;/* mora scroll da bi radio na samsung internet browser */
    }
    #responsive_menu *{
        font-size: 24px !important; 
    }
    #responsive_menu .collapse-btn{
        display:none;
    }
}