.v-sidebar-menu,.v-sidebar-menu *{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.v-sidebar-menu{
    /* position:fixed; */
    position: relative;
    /* width: 250px; */
    top:0;
    left:0;
    width:100%;
    height:100vh;
    padding-bottom:50px;
    padding-top:50px;/*moje*/
    -webkit-transition:width .3s;
    transition:width .3s
}
.v-sidebar-menu .vsm-item{
    position:relative;
    display:block
}
.v-sidebar-menu .vsm-item.first-item>.vsm-link>.vsm-icon{
    height:30px;
    line-height:30px;
    width:30px;
    text-align:center;
    border-radius:3px
}
.v-sidebar-menu .vsm-item.first-item>.vsm-link:after{
    content:"";
    display:block;
    clear:both
}
.v-sidebar-menu .vsm-item.mobile-item>.vsm-link>.vsm-icon{
    height:30px;
    line-height:30px;
    width:30px;
    text-align:center;
    border-radius:3px
}
.v-sidebar-menu .vsm-item.active-item>.vsm-link,.v-sidebar-menu .vsm-item.parent-active-item>.vsm-link{
    font-weight:600
}
.v-sidebar-menu .vsm-link{
    position:relative;
    display:block;
    font-size:16px;
    font-weight:400;
    padding:10px;
    line-height:30px;
    text-decoration:none;
    z-index:1;
    -webkit-transition:all .3s;
    transition:all .3s
}
.v-sidebar-menu .vsm-link[disabled]{
    opacity:.4;
    pointer-events:none
}
.v-sidebar-menu .vsm-title{
    display:block;
    white-space:nowrap
}
.v-sidebar-menu .vsm-icon{
    float:left;
    line-height:30px;
    margin-right:10px
}
.v-sidebar-menu .vsm-arrow{
    width:30px;
    text-align:center;
    font-style:normal;
    font-weight:900;
    position:absolute;
    right:10px;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    -webkit-transition:-webkit-transform .3s;
    transition:-webkit-transform .3s;
    transition:transform .3s;
    transition:transform .3s,-webkit-transform .3s
}
.v-sidebar-menu .vsm-arrow:after{
    content:"\F105";
    font-family:Font Awesome\ 5 Free
}
.v-sidebar-menu .vsm-arrow.open-arrow{
    -webkit-transform:translateY(-50%) rotate(90deg);
    transform:translateY(-50%) rotate(90deg)
}
.v-sidebar-menu .vsm-dropdown>.vsm-list{
    padding:5px
}
.v-sidebar-menu .expand-enter-active,.v-sidebar-menu .expand-leave-active{
    -webkit-transition:height .35s ease;
    transition:height .35s ease;
    overflow:hidden
}
.v-sidebar-menu .expand-enter,.v-sidebar-menu .expand-leave-to{
    height:0!important
}
.v-sidebar-menu .slide-animation-enter-active{
    -webkit-animation:slide-animation .2s;
    animation:slide-animation .2s
}
.v-sidebar-menu .slide-animation-leave-active{
    animation:slide-animation .2s reverse
}
@-webkit-keyframes slide-animation{
    0%{
        width:0
    }
    to{
        width:100%
    }
}
@keyframes slide-animation{
    0%{
        width:0
    }
    to{
        width:100%
    }
}
.v-sidebar-menu .vsm-header{
    font-size:14px;
    font-weight:600;
    padding:10px;
    white-space:nowrap;
    text-transform:uppercase
}
.v-sidebar-menu .collapse-btn{
    display:block;
    text-align:center;
    font-style:normal;
    font-weight:900;
    position:absolute;
    height:50px;
    left:0;
    right:0;
    bottom:0;
    cursor:pointer;
    border:none;
    width:100%
}
.rotate180{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.v-sidebar-menu .collapse-btn i{
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s ease-in-out;
    font-size: 2em;
}
/* .v-sidebar-menu .collapse-btn:after{
    content:"\F337";
    font-family:Font Awesome\ 5 Free
} */
.v-sidebar-menu{
    background-color:#2a2a2e
}
.v-sidebar-menu .vsm-item.mobile-item>.vsm-link,.v-sidebar-menu .vsm-link{
    color:#fff
}
.v-sidebar-menu .vsm-item.mobile-item>.vsm-icon{
    color:#fff;
    background-color:transparent
}
.v-sidebar-menu .vsm-item.first-item>.vsm-link>.vsm-icon{
    color:#fff;
    background-color:#1e1e21
}
.v-sidebar-menu .vsm-item.first-item.active-item>.vsm-link,.v-sidebar-menu .vsm-item.first-item.parent-active-item>.vsm-link{
    -webkit-box-shadow:3px 0 0 0 #4285f4 inset;
    box-shadow:inset 3px 0 0 0 #4285f4
}
.v-sidebar-menu .vsm-item.first-item.active-item>.vsm-link>.vsm-icon,.v-sidebar-menu .vsm-item.first-item.parent-active-item>.vsm-link>.vsm-icon{
    color:#fff;
    background-color:#1e1e21
}
.v-sidebar-menu.vsm-default .vsm-item.first-item.open-item>.vsm-link{
    color:#fff;
    background-color:#4285f4
}
.v-sidebar-menu.vsm-default .vsm-item.first-item.open-item>.vsm-link>.vsm-icon{
    color:#fff;
    background-color:transparent
}
.v-sidebar-menu.vsm-default .vsm-link:hover{
    color:#fff;
    background-color:rgba(30,30,33,.5)
}
.v-sidebar-menu .vsm-dropdown>.vsm-list{
    background-color:#36363b
}
.v-sidebar-menu .vsm-dropdown>.vsm-list .vsm-link{
    color:#fff
}
.v-sidebar-menu .vsm-dropdown>.vsm-list .vsm-link:hover{
    color:#fff;
    background-color:rgba(30,30,33,.5)
}
.v-sidebar-menu .vsm-mobile-bg{
    background-color:#4285f4
}
.v-sidebar-menu .vsm-header{
    color:hsla(0,0%,100%,.7)
}
.v-sidebar-menu .collapse-btn{
    color:#fff;
    background-color:#1e1e21
}
.v-sidebar-menu.white-theme{
    background-color:#fff
}
.v-sidebar-menu.white-theme .vsm-link{
    color:#262626
}
.v-sidebar-menu.white-theme .vsm-item.mobile-item>.vsm-link{
    color:#fff
}
.v-sidebar-menu.white-theme .vsm-item.mobile-item>.vsm-icon{
    color:#fff;
    background-color:transparent
}
.v-sidebar-menu.white-theme .vsm-item.first-item>.vsm-link>.vsm-icon{
    color:#262626;
    background-color:#bbc5d6
}
.v-sidebar-menu.white-theme .vsm-item.first-item.active-item>.vsm-link,.v-sidebar-menu.white-theme .vsm-item.first-item.parent-active-item>.vsm-link{
    -webkit-box-shadow:3px 0 0 0 #4285f4 inset;
    box-shadow:inset 3px 0 0 0 #4285f4
}
.v-sidebar-menu.white-theme .vsm-item.first-item.active-item>.vsm-link>.vsm-icon,.v-sidebar-menu.white-theme .vsm-item.first-item.parent-active-item>.vsm-link>.vsm-icon{
    color:#fff;
    background-color:#262626
}
.v-sidebar-menu.white-theme.vsm-default .vsm-item.first-item.open-item>.vsm-link{
    color:#fff;
    background-color:#4285f4
}
.v-sidebar-menu.white-theme.vsm-default .vsm-item.first-item.open-item>.vsm-link>.vsm-icon{
    color:#fff;
    background-color:transparent
}
.v-sidebar-menu.white-theme.vsm-default .vsm-link:hover{
    color:#262626;
    background-color:#f2f2f2
}
.v-sidebar-menu.white-theme .vsm-dropdown>.vsm-list{
    background-color:#e3e3e3
}
.v-sidebar-menu.white-theme .vsm-dropdown>.vsm-list .vsm-link{
    color:#262626
}
.v-sidebar-menu.white-theme .vsm-dropdown>.vsm-list .vsm-link:hover{
    color:#262626;
    background-color:#f2f2f2
}
.v-sidebar-menu.white-theme .vsm-mobile-bg{
    background-color:#4285f4
}
.v-sidebar-menu.white-theme .vsm-header{
    color:rgba(38,38,38,.7)
}
.v-sidebar-menu.white-theme .collapse-btn{
    color:#262626;
    background-color:#f2f2f2
}
 